Repository noir-lang/noir, pull requests merged in 2023-12, with the labels that each got.

#3508 feat: data bus
  compiler/noirc_driver/src/abi_gen.rs
  compiler/noirc_driver/src/lib.rs
  compiler/noirc_evaluator/src/ssa/acir_gen/mod.rs
  compiler/noirc_evaluator/src/ssa/function_builder/data_bus.rs
  compiler/noirc_evaluator/src/ssa/function_builder/mod.rs
  compiler/noirc_evaluator/src/ssa/ir/dfg.rs
  compiler/noirc_evaluator/src/ssa/opt/die.rs
  compiler/noirc_evaluator/src/ssa/opt/fill_internal_slices.rs
  compiler/noirc_evaluator/src/ssa/opt/inlining.rs
  compiler/noirc_evaluator/src/ssa/opt/mem2reg.rs
  compiler/noirc_evaluator/src/ssa/ssa_gen/mod.rs
  compiler/noirc_frontend/src/ast/mod.rs
  compiler/noirc_frontend/src/hir/resolution/resolver.rs
  compiler/noirc_frontend/src/lexer/token.rs
  compiler/noirc_frontend/src/monomorphization/ast.rs
  compiler/noirc_frontend/src/monomorphization/mod.rs
  compiler/noirc_frontend/src/parser/parser.rs
  docs/docs/language_concepts/12_data_bus.md
  tooling/nargo_cli/src/cli/fs/inputs.rs
  tooling/nargo_cli/tests/execution_success/databus/Nargo.toml
  tooling/nargo_cli/tests/execution_success/databus/Prover.toml
  tooling/nargo_cli/tests/execution_success/databus/src/main.nr
  tooling/nargo_fmt/src/utils.rs
  tooling/noir_codegen/src/noir_types.ts
  tooling/noir_codegen/test/assert_lt/target/assert_lt.json
  tooling/noir_js/test/noir_compiled_examples/assert_lt/target/assert_lt.json
  tooling/noir_js_backend_barretenberg/test/public_input_deflattening.test.ts
  tooling/noirc_abi/src/input_parser/json.rs
  tooling/noirc_abi/src/input_parser/mod.rs
  tooling/noirc_abi/src/input_parser/toml.rs
  tooling/noirc_abi/src/lib.rs
  tooling/noirc_abi_wasm/src/lib.rs
Labels: documentation

#3610 chore: Release Noir(0.19.5)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  acvm-repo/CHANGELOG.md
  acvm-repo/acir/Cargo.toml
  acvm-repo/acir_field/Cargo.toml
  acvm-repo/acvm/Cargo.toml
  acvm-repo/acvm_js/Cargo.toml
  acvm-repo/acvm_js/package.json
  acvm-repo/barretenberg_blackbox_solver/Cargo.toml
  acvm-repo/blackbox_solver/Cargo.toml
  acvm-repo/brillig/Cargo.toml
  acvm-repo/brillig_vm/Cargo.toml
  acvm-repo/stdlib/Cargo.toml
  compiler/source-resolver/package.json
  compiler/wasm/package.json
  flake.nix
  tooling/noir_codegen/package.json
  tooling/noir_js/package.json
  tooling/noir_js_backend_barretenberg/package.json
  tooling/noir_js_types/package.json
  tooling/noirc_abi_wasm/package.json
Labels: autorelease: pending

#3671 chore: Release Noir(0.20.0)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  acvm-repo/CHANGELOG.md
  acvm-repo/acir/Cargo.toml
  acvm-repo/acir_field/Cargo.toml
  acvm-repo/acvm/Cargo.toml
  acvm-repo/acvm_js/Cargo.toml
  acvm-repo/acvm_js/package.json
  acvm-repo/barretenberg_blackbox_solver/Cargo.toml
  acvm-repo/blackbox_solver/Cargo.toml
  acvm-repo/brillig/Cargo.toml
  acvm-repo/brillig_vm/Cargo.toml
  acvm-repo/stdlib/Cargo.toml
  compiler/source-resolver/package.json
  compiler/wasm/package.json
  flake.nix
  tooling/noir_codegen/package.json
  tooling/noir_js/package.json
  tooling/noir_js_backend_barretenberg/package.json
  tooling/noir_js_types/package.json
  tooling/noirc_abi_wasm/package.json
Labels: autorelease: pending

#3692 fix: remove include-keys option
  docs/docs/nargo/01_commands.md
  tooling/nargo_cli/src/cli/compile_cmd.rs
Labels: documentation

#3684 feat: Dockerfile to test cargo and JS packages
  .github/workflows/test-cargo.yml
  .github/workflows/test-js.yml
  Dockerfile.ci
  Dockerfile.packages
  scripts/nargo_compile_noir_codegen_assert_lt.sh
  scripts/nargo_compile_noir_js_assert_lt.sh
  scripts/nargo_compile_wasm_fixtures.sh
  scripts/test_js_packages.sh
  scripts/test_native.sh
  tooling/noir_codegen/package.json
  yarn.lock
Labels: enhancement, documentation

#3683 chore: adds a new option only-acir
  compiler/noirc_driver/src/lib.rs
  test_programs/rebuild.sh
  tooling/nargo/src/constants.rs
  tooling/nargo_cli/src/cli/compile_cmd.rs
  tooling/nargo_cli/src/cli/fs/program.rs
Labels: documentation

#3783 feat: Remove experimental feature warning for traits
  compiler/noirc_frontend/src/parser/parser.rs
  cspell.json
  docs/docs/explanations/noir/traits.md
Labels: documentation

#3796 feat: Add some traits to the stdlib
  docs/docs/explanations/standard_library/traits.md
  noir_stdlib/src/default.nr
  noir_stdlib/src/lib.nr
  noir_stdlib/src/ops.nr
  test_programs/compile_failure/no_nested_impl/src/main.nr
Labels: documentation

#3810 chore: Add missing generics to trait docs
  docs/docs/explanations/noir/traits.md
Labels: documentation

#3779 chore: filtering patches from docs deployment script
  docs/.gitignore
  docs/package.json
  docs/scripts/setStable.ts
  docs/tsconfig.json
  docs/versions.json
  versions.json
Labels: documentation

#3824 chore: Release Noir(0.21.0)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.toml
  acvm-repo/CHANGELOG.md
  acvm-repo/acir/Cargo.toml
  acvm-repo/acir_field/Cargo.toml
  acvm-repo/acvm/Cargo.toml
  acvm-repo/acvm_js/Cargo.toml
  acvm-repo/acvm_js/package.json
  acvm-repo/barretenberg_blackbox_solver/Cargo.toml
  acvm-repo/blackbox_solver/Cargo.toml
  acvm-repo/brillig/Cargo.toml
  acvm-repo/brillig_vm/Cargo.toml
  acvm-repo/stdlib/Cargo.toml
  compiler/wasm/package.json
  flake.nix
  tooling/noir_codegen/package.json
  tooling/noir_js/package.json
  tooling/noir_js_backend_barretenberg/package.json
  tooling/noir_js_types/package.json
  tooling/noirc_abi_wasm/package.json
Labels: autorelease: pending

#3882 fix: fixing dark mode background on the CTA button
  docs/docusaurus.config.ts
  docs/src/css/custom.css
Labels: documentation
