Repository noir-lang/noir, pull requests merged in 2023-02, with the labels that each got.

#728 feat(nargo): Add `nargo test` command to run all unit tests
  Cargo.lock
  crates/nargo/Cargo.toml
  crates/nargo/src/cli/check_cmd.rs
  crates/nargo/src/cli/compile_cmd.rs
  crates/nargo/src/cli/mod.rs
  crates/nargo/src/cli/test_cmd.rs
  crates/noirc_driver/src/lib.rs
  crates/noirc_driver/src/main.rs
  crates/noirc_errors/src/lib.rs
  crates/noirc_errors/src/reporter.rs
  crates/noirc_evaluator/src/ssa/context.rs
  crates/noirc_frontend/src/ast/function.rs
  crates/noirc_frontend/src/hir/resolution/errors.rs
  crates/noirc_frontend/src/hir/resolution/resolver.rs
  crates/noirc_frontend/src/lexer/token.rs
  crates/noirc_frontend/src/monomorphization/mod.rs
  crates/noirc_frontend/src/node_interner.rs
Labels: nargo

#789 fix: operators issuing type errors when used with matching integer types arising from generic code
  crates/noirc_frontend/src/hir/type_check/expr.rs
Labels: doc needed

#798 feat: Impls with generics
  crates/nargo/tests/test_data/generics/src/main.nr
  crates/noirc_driver/src/lib.rs
  crates/noirc_errors/src/lib.rs
  crates/noirc_errors/src/reporter.rs
  crates/noirc_evaluator/src/errors.rs
  crates/noirc_frontend/src/ast/expression.rs
  crates/noirc_frontend/src/ast/mod.rs
  crates/noirc_frontend/src/ast/structure.rs
  crates/noirc_frontend/src/hir/def_collector/dc_crate.rs
  crates/noirc_frontend/src/hir/def_collector/dc_mod.rs
  crates/noirc_frontend/src/hir/def_collector/errors.rs
  crates/noirc_frontend/src/hir/def_map/mod.rs
  crates/noirc_frontend/src/hir/resolution/errors.rs
  crates/noirc_frontend/src/hir/resolution/resolver.rs
  crates/noirc_frontend/src/hir/type_check/errors.rs
  crates/noirc_frontend/src/hir/type_check/expr.rs
  crates/noirc_frontend/src/hir/type_check/stmt.rs
  crates/noirc_frontend/src/hir_def/expr.rs
  crates/noirc_frontend/src/hir_def/stmt.rs
  crates/noirc_frontend/src/hir_def/types.rs
  crates/noirc_frontend/src/lexer/errors.rs
  crates/noirc_frontend/src/node_interner.rs
  crates/noirc_frontend/src/parser/errors.rs
  crates/noirc_frontend/src/parser/parser.rs
Labels: doc needed

#805 fix(nargo): `nargo test` now only runs test functions defined in the current module
  crates/noirc_driver/src/lib.rs
  crates/noirc_frontend/src/hir/def_map/mod.rs
  crates/noirc_frontend/src/node_interner.rs
Labels: doc needed

#833 feat(stdlib): Add higher order array functions
  crates/nargo/tests/test_data/higher-order-functions/src/main.nr
  crates/noirc_frontend/src/hir/type_check/expr.rs
  noir_stdlib/src/array.nr
Labels: doc needed

#847 feat!: Allow impls on primitive types
  crates/nargo/tests/target_tests_data/pass/import/src/main.nr
  crates/nargo/tests/test_data/7_function/src/main.nr
  crates/nargo/tests/test_data/9_conditional/src/main.nr
  crates/nargo/tests/test_data/array_len/src/main.nr
  crates/nargo/tests/test_data/hash_to_field/src/main.nr
  crates/nargo/tests/test_data/higher-order-functions/src/main.nr
  crates/nargo/tests/test_data/strings/src/main.nr
  crates/nargo/tests/test_data/struct_inputs/src/main.nr
  crates/nargo/tests/test_data/to_le_bytes/src/main.nr
  crates/noirc_frontend/src/hir/def_collector/dc_crate.rs
  crates/noirc_frontend/src/hir/type_check/expr.rs
  crates/noirc_frontend/src/node_interner.rs
  crates/noirc_frontend/src/parser/mod.rs
  noir_stdlib/src/array.nr
  noir_stdlib/src/field.nr
  noir_stdlib/src/hash.nr
  noir_stdlib/src/lib.nr
  noir_stdlib/src/merkle.nr
  noir_stdlib/src/sha256.nr
  noir_stdlib/src/sha512.nr
Labels: doc needed

#869 fix: Optimize parser
  crates/noirc_frontend/src/parser/parser.rs
Labels: compiler

#871 feat(ci): Publish noir_wasm when we cut a release
  .github/workflows/release.yml
Labels: doc needed

#878 chore: remove `witness` flag from `nargo compile`
  crates/nargo/src/cli/compile_cmd.rs
Labels: doc needed

#892 feat: Silence output of prove and verify
  crates/nargo/src/cli/prove_cmd.rs
  crates/nargo/src/cli/verify_cmd.rs
  crates/nargo/src/errors.rs
Labels: doc needed

#922 feat(nargo)!: save program ABI alongside ACIR
  Cargo.lock
  crates/nargo/Cargo.toml
  crates/nargo/src/cli/compile_cmd.rs
  crates/nargo/src/cli/fs/acir.rs
  crates/nargo/src/cli/fs/keys.rs
  crates/nargo/src/cli/fs/mod.rs
  crates/nargo/src/cli/fs/program.rs
  crates/nargo/src/cli/prove_cmd.rs
  crates/nargo/src/cli/verify_cmd.rs
  crates/nargo/src/constants.rs
  crates/noirc_driver/src/lib.rs
  crates/noirc_driver/src/program.rs
Labels: doc needed
