Repository noir-lang/noir, pull requests merged in 2023-09, with the labels that each got.

#2496 chore(noir): Release 0.11.0
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/wasm/package.json
  flake.nix
Labels: autorelease: pending

#2446 feat: Enable dynamic indices on slices
  Cargo.toml
  crates/nargo_cli/tests/execution_success/slice_dynamic_index/Nargo.toml
  crates/nargo_cli/tests/execution_success/slice_dynamic_index/Prover.toml
  crates/nargo_cli/tests/execution_success/slice_dynamic_index/src/main.nr
  crates/nargo_cli/tests/execution_success/slices/src/main.nr
  crates/noirc_evaluator/src/brillig/brillig_gen/brillig_block.rs
  crates/noirc_evaluator/src/errors.rs
  crates/noirc_evaluator/src/ssa/acir_gen/acir_ir/acir_variable.rs
  crates/noirc_evaluator/src/ssa/acir_gen/mod.rs
  crates/noirc_evaluator/src/ssa/function_builder/mod.rs
  crates/noirc_evaluator/src/ssa/ir/instruction.rs
  crates/noirc_evaluator/src/ssa/ir/instruction/call.rs
  crates/noirc_evaluator/src/ssa/ir/printer.rs
  crates/noirc_evaluator/src/ssa/opt/flatten_cfg.rs
  crates/noirc_evaluator/src/ssa/ssa_gen/context.rs
  noir_stdlib/src/slice.nr
Labels: doc needed

#2594 chore(noir): Release 0.11.1
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/wasm/package.json
  flake.nix
Labels: autorelease: pending

#2541 feat: Handle `should_fail_with` case
  crates/nargo/src/errors.rs
  crates/nargo/src/ops/test.rs
  crates/noirc_frontend/src/hir/def_map/mod.rs
  crates/noirc_frontend/src/lexer/lexer.rs
  crates/noirc_frontend/src/lexer/token.rs
Labels: doc needed

#2668 chore!: Restrict packages to contain at most a single contract
  Cargo.lock
  compiler/noirc_driver/src/lib.rs
  compiler/wasm/Cargo.toml
  compiler/wasm/src/compile.rs
  tooling/nargo_cli/src/cli/compile_cmd.rs
  tooling/nargo_cli/src/cli/info_cmd.rs
  tooling/nargo_cli/tests/compile_failure/multiple_contracts/Nargo.toml
  tooling/nargo_cli/tests/compile_failure/multiple_contracts/src/main.nr
Labels: doc needed

#2532 feat(lsp): Add nargo capabilities for test metadata
  Cargo.lock
  compiler/noirc_frontend/src/hir/def_map/mod.rs
  tooling/lsp/Cargo.toml
  tooling/lsp/src/lib.rs
  tooling/lsp/src/types.rs
Labels: doc needed

#2601 chore(noir): Release 0.12.0
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  compiler/source-resolver/package.json
  compiler/wasm/package.json
  flake.nix
  tooling/noir_js/package.json
  tooling/noirc_abi_wasm/package.json
Labels: autorelease: pending

#2736 chore(github): Add "Idea Action Plan" Issue template
  .github/ISSUE_TEMPLATE/idea_action_plan.yml
Labels: enhancement

#2776 fix: Make `Vec::get` accept immutable `Vec`s
  noir_stdlib/src/collections/vec.nr
Labels: doc needed

#2734 chore(noir): Release 0.13.0
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  compiler/source-resolver/package.json
  compiler/wasm/package.json
  flake.nix
  tooling/noir_js/package.json
  tooling/noirc_abi_wasm/package.json
Labels: autorelease: pending

#2764 feat!: Default integers to u64
  compiler/noirc_frontend/src/hir/type_check/mod.rs
  compiler/noirc_frontend/src/hir_def/types.rs
  compiler/noirc_frontend/src/monomorphization/mod.rs
  compiler/noirc_frontend/src/parser/errors.rs
  compiler/noirc_frontend/src/parser/parser.rs
Labels: doc needed

#2803 feat: Implement string escape sequences
  compiler/noirc_frontend/src/lexer/errors.rs
  compiler/noirc_frontend/src/lexer/lexer.rs
  tooling/nargo_cli/tests/execution_success/strings/src/main.nr
Labels: doc needed

#2703 feat(acir): Enable dynamic indices on non-homogenous arrays
  compiler/noirc_evaluator/src/ssa/acir_gen/acir_ir/acir_variable.rs
  compiler/noirc_evaluator/src/ssa/acir_gen/mod.rs
  compiler/noirc_evaluator/src/ssa/ir/types.rs
  compiler/noirc_evaluator/src/ssa/opt/flatten_cfg.rs
  tooling/nargo_cli/tests/compile_failure/dyn_index_fail_nested_array/Nargo.toml
  tooling/nargo_cli/tests/compile_failure/dyn_index_fail_nested_array/Prover.toml
  tooling/nargo_cli/tests/compile_failure/dyn_index_fail_nested_array/src/main.nr
  tooling/nargo_cli/tests/execution_success/nested_array_dynamic/Nargo.toml
  tooling/nargo_cli/tests/execution_success/nested_array_dynamic/Prover.toml
  tooling/nargo_cli/tests/execution_success/nested_array_dynamic/src/main.nr
Labels: doc needed

#2815 chore: add test for multidimensional array inputs
  tooling/nargo_cli/tests/execution_success/simple_2d_array/Prover.toml
  tooling/nargo_cli/tests/execution_success/simple_2d_array/src/main.nr
Labels: doc needed

#2827 chore(noir): Release (master)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  acvm-repo/CHANGELOG.md
  acvm-repo/acir/Cargo.toml
  acvm-repo/acir_field/Cargo.toml
  acvm-repo/acvm/Cargo.toml
  acvm-repo/acvm_js/Cargo.toml
  acvm-repo/acvm_js/package.json
  acvm-repo/barretenberg_blackbox_solver/Cargo.toml
  acvm-repo/blackbox_solver/Cargo.toml
  acvm-repo/brillig/Cargo.toml
  acvm-repo/brillig_vm/Cargo.toml
  acvm-repo/stdlib/Cargo.toml
  compiler/source-resolver/package.json
  compiler/wasm/package.json
  flake.nix
  tooling/noir_js/package.json
  tooling/noirc_abi_wasm/package.json
Labels: autorelease: pending

#2859 chore(noir): Release (master)
  .release-please-manifest.json
  Cargo.lock
  acvm-repo/CHANGELOG.md
  acvm-repo/acir/Cargo.toml
  acvm-repo/acir_field/Cargo.toml
  acvm-repo/acvm/Cargo.toml
  acvm-repo/acvm_js/Cargo.toml
  acvm-repo/acvm_js/package.json
  acvm-repo/barretenberg_blackbox_solver/Cargo.toml
  acvm-repo/blackbox_solver/Cargo.toml
  acvm-repo/brillig/Cargo.toml
  acvm-repo/brillig_vm/Cargo.toml
  acvm-repo/stdlib/Cargo.toml
Labels: autorelease: pending

#2875 chore(noir): Release (master)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  acvm-repo/CHANGELOG.md
  acvm-repo/acir/Cargo.toml
  acvm-repo/acir_field/Cargo.toml
  acvm-repo/acvm/Cargo.toml
  acvm-repo/acvm_js/Cargo.toml
  acvm-repo/acvm_js/package.json
  acvm-repo/barretenberg_blackbox_solver/Cargo.toml
  acvm-repo/blackbox_solver/Cargo.toml
  acvm-repo/brillig/Cargo.toml
  acvm-repo/brillig_vm/Cargo.toml
  acvm-repo/stdlib/Cargo.toml
  compiler/source-resolver/package.json
  compiler/wasm/package.json
  flake.nix
  tooling/noir_js/package.json
  tooling/noirc_abi_wasm/package.json
Labels: autorelease: pending

#2879 chore(noir): Release (master)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  acvm-repo/CHANGELOG.md
  acvm-repo/acir/Cargo.toml
  acvm-repo/acir_field/Cargo.toml
  acvm-repo/acvm/Cargo.toml
  acvm-repo/acvm_js/Cargo.toml
  acvm-repo/acvm_js/package.json
  acvm-repo/barretenberg_blackbox_solver/Cargo.toml
  acvm-repo/blackbox_solver/Cargo.toml
  acvm-repo/brillig/Cargo.toml
  acvm-repo/brillig_vm/Cargo.toml
  acvm-repo/stdlib/Cargo.toml
  compiler/source-resolver/package.json
  compiler/wasm/package.json
  flake.nix
  tooling/noir_js/package.json
  tooling/noirc_abi_wasm/package.json
Labels: autorelease: pending

#2899 feat(abi): Tuples as inputs/outputs to main
  tooling/nargo_cli/tests/execution_success/tuple_inputs/Nargo.toml
  tooling/nargo_cli/tests/execution_success/tuple_inputs/Prover.toml
  tooling/nargo_cli/tests/execution_success/tuple_inputs/src/main.nr
  tooling/noirc_abi/src/input_parser/json.rs
  tooling/noirc_abi/src/input_parser/mod.rs
  tooling/noirc_abi/src/input_parser/toml.rs
  tooling/noirc_abi/src/lib.rs
  tooling/noirc_abi_wasm/src/temp.rs
Labels: doc needed
