Repository noir-lang/noir, pull requests merged in 2023-11, with the labels that each got.

#3393 chore(docs): Document signed integers and integer overflow behavior
  docs/docs/language_concepts/data_types/01_integers.md
Labels: documentation

#3284 chore: Release Noir(0.19.0)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  acvm-repo/CHANGELOG.md
  acvm-repo/acir/Cargo.toml
  acvm-repo/acir_field/Cargo.toml
  acvm-repo/acvm/Cargo.toml
  acvm-repo/acvm_js/Cargo.toml
  acvm-repo/acvm_js/package.json
  acvm-repo/barretenberg_blackbox_solver/Cargo.toml
  acvm-repo/blackbox_solver/Cargo.toml
  acvm-repo/brillig/Cargo.toml
  acvm-repo/brillig_vm/Cargo.toml
  acvm-repo/stdlib/Cargo.toml
  compiler/source-resolver/package.json
  compiler/wasm/package.json
  flake.nix
  tooling/noir_codegen/package.json
  tooling/noir_js/package.json
  tooling/noir_js_backend_barretenberg/package.json
  tooling/noir_js_types/package.json
  tooling/noirc_abi_wasm/package.json
Labels: autorelease: pending

#3422 chore(ci): fix rebuild acir artifacts workflow
  .github/workflows/auto-pr-rebuild-script.yml
Labels: publish-acir

#3426 chore: Update ACIR artifacts
  tooling/nargo_cli/tests/acir_artifacts/sha2_byte/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/sha2_byte/target/witness.gz
Labels: auto-pr

#3430 chore: Update ACIR artifacts
  tooling/nargo_cli/tests/acir_artifacts/7_function/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/7_function/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/array_dynamic/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/array_dynamic/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/brillig_unitialised_arrays/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/brillig_unitialised_arrays/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/conditional_1/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/conditional_1/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/eddsa/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/eddsa/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/hash_to_field/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/hash_to_field/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/merkle_insert/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/merkle_insert/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/nested_array_dynamic/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/nested_array_dynamic/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/nested_slice_dynamic/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/nested_slice_dynamic/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/regression_mem_op_predicate/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/regression_mem_op_predicate/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/schnorr/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/schnorr/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/simple_radix/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/simple_radix/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/simple_shield/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/simple_shield/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/slice_dynamic_index/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/slice_dynamic_index/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/slice_struct_field/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/slice_struct_field/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/slices/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/slices/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/to_be_bytes/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/to_be_bytes/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/to_bytes_consistent/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/to_bytes_consistent/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/to_bytes_integration/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/to_bytes_integration/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/to_le_bytes/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/to_le_bytes/target/witness.gz
Labels: auto-pr

#3431 chore: Update ACIR artifacts
  tooling/nargo_cli/tests/acir_artifacts/slice_dynamic_index/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/slice_dynamic_index/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/slice_struct_field/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/slice_struct_field/target/witness.gz
Labels: auto-pr

#3432 chore: Update ACIR artifacts
  tooling/nargo_cli/tests/acir_artifacts/1_mul/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/1_mul/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/2_div/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/2_div/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/3_add/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/6_array/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/6_array/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/7_function/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/7_function/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/array_dynamic/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/array_dynamic/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/bit_shifts_comptime/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/bit_shifts_runtime/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/bit_shifts_runtime/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/brillig_acir_as_brillig/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/brillig_calls/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/brillig_fns_as_values/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/conditional_1/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/conditional_1/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/conditional_regression_661/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/conditional_regression_661/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/regression/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/regression/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/sha2_byte/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/sha2_byte/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/signed_arithmetic/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/signed_arithmetic/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/simple_bitwise/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/simple_bitwise/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/simple_shift_left_right/target/acir.gz
Labels: auto-pr

#3349 chore(docs): autogeneration of NoirJS docs
  .github/workflows/build-docs.yml
  docs/.gitignore
  docs/docs/noir_js/noir_js.md
  docs/docs/noir_js/reference/01_noirjs.md
  docs/docs/noir_js/reference/02_bb_backend.md
  docs/docusaurus.config.js
  docs/package.json
  docs/sidebars.js
  tooling/noir_js/src/index.ts
  tooling/noir_js/src/program.ts
  tooling/noir_js/tsconfig.json
  tooling/noir_js_backend_barretenberg/src/index.ts
  tooling/noir_js_backend_barretenberg/src/types.ts
  tooling/noir_js_backend_barretenberg/tsconfig.json
  tooling/noir_js_types/.gitignore
  tooling/noir_js_types/src/types.ts
  tooling/noir_js_types/tsconfig.json
  yarn.lock
Labels: documentation

#3439 chore(github): Add manual trigger for building docs
  .github/workflows/build-docs.yml
Labels: CI, documentation

#3417 chore(docs): making release-please commit new version to the repo
  .github/workflows/publish-docs.yml
Labels: CI, documentation

#3424 chore: Release Noir(0.19.1)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  acvm-repo/CHANGELOG.md
  acvm-repo/acir/Cargo.toml
  acvm-repo/acir_field/Cargo.toml
  acvm-repo/acvm/Cargo.toml
  acvm-repo/acvm_js/Cargo.toml
  acvm-repo/acvm_js/package.json
  acvm-repo/barretenberg_blackbox_solver/Cargo.toml
  acvm-repo/blackbox_solver/Cargo.toml
  acvm-repo/brillig/Cargo.toml
  acvm-repo/brillig_vm/Cargo.toml
  acvm-repo/stdlib/Cargo.toml
  compiler/source-resolver/package.json
  compiler/wasm/package.json
  flake.nix
  tooling/noir_codegen/package.json
  tooling/noir_js/package.json
  tooling/noir_js_backend_barretenberg/package.json
  tooling/noir_js_types/package.json
  tooling/noirc_abi_wasm/package.json
Labels: autorelease: pending

#3445 chore: Release Noir(0.19.2)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  acvm-repo/CHANGELOG.md
  acvm-repo/acir/Cargo.toml
  acvm-repo/acir_field/Cargo.toml
  acvm-repo/acvm/Cargo.toml
  acvm-repo/acvm_js/Cargo.toml
  acvm-repo/acvm_js/package.json
  acvm-repo/barretenberg_blackbox_solver/Cargo.toml
  acvm-repo/blackbox_solver/Cargo.toml
  acvm-repo/brillig/Cargo.toml
  acvm-repo/brillig_vm/Cargo.toml
  acvm-repo/stdlib/Cargo.toml
  compiler/source-resolver/package.json
  compiler/wasm/package.json
  flake.nix
  tooling/noir_codegen/package.json
  tooling/noir_js/package.json
  tooling/noir_js_backend_barretenberg/package.json
  tooling/noir_js_types/package.json
  tooling/noirc_abi_wasm/package.json
Labels: autorelease: pending

#3460 chore(docusaurus): Add `v` in version names
  docs/versions.json
Labels: documentation

#3467 chore: Update ACIR artifacts
  tooling/nargo_cli/tests/acir_artifacts/7_function/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/7_function/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/eddsa/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/eddsa/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/hash_to_field/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/hash_to_field/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/merkle_insert/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/merkle_insert/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/schnorr/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/schnorr/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/simple_radix/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/simple_radix/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/simple_shield/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/simple_shield/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/slice_dynamic_index/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/slice_dynamic_index/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/slice_struct_field/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/slice_struct_field/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/to_be_bytes/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/to_be_bytes/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/to_bytes_consistent/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/to_bytes_consistent/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/to_bytes_integration/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/to_bytes_integration/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/to_le_bytes/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/to_le_bytes/target/witness.gz
Labels: auto-pr

#3449 chore(docs): removing note on structs not being outputted
  docs/docs/language_concepts/data_types/08_structs.md
  docs/versioned_docs/version-v0.19.1/language_concepts/data_types/08_structs.md
  docs/versioned_docs/version-v0.19.2/language_concepts/data_types/08_structs.md
Labels: documentation

#3516 chore: Update ACIR artifacts
  tooling/nargo_cli/tests/acir_artifacts/array_dynamic/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/array_dynamic/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/conditional_1/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/conditional_1/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/conditional_regression_661/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/conditional_regression_661/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/conditional_regression_underflow/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/conditional_regression_underflow/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/regression/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/regression/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/sha2_byte/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/sha2_byte/target/witness.gz
Labels: auto-pr

#3514 chore: Release Noir(0.19.3)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  acvm-repo/CHANGELOG.md
  acvm-repo/acir/Cargo.toml
  acvm-repo/acir_field/Cargo.toml
  acvm-repo/acvm/Cargo.toml
  acvm-repo/acvm_js/Cargo.toml
  acvm-repo/acvm_js/package.json
  acvm-repo/barretenberg_blackbox_solver/Cargo.toml
  acvm-repo/blackbox_solver/Cargo.toml
  acvm-repo/brillig/Cargo.toml
  acvm-repo/brillig_vm/Cargo.toml
  acvm-repo/stdlib/Cargo.toml
  compiler/source-resolver/package.json
  compiler/wasm/package.json
  flake.nix
  tooling/noir_codegen/package.json
  tooling/noir_js/package.json
  tooling/noir_js_backend_barretenberg/package.json
  tooling/noir_js_types/package.json
  tooling/noirc_abi_wasm/package.json
Labels: autorelease: pending

#3528 chore: Update ACIR artifacts
  tooling/nargo_cli/tests/acir_artifacts/bit_shifts_comptime/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/bit_shifts_comptime/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/bit_shifts_runtime/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/bit_shifts_runtime/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/conditional_regression_underflow/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/conditional_regression_underflow/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/sha2_byte/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/sha2_byte/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/simple_shift_left_right/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/simple_shift_left_right/target/witness.gz
Labels: auto-pr

#3555 chore(docs): Update link to docs' GitHub
  docs/docusaurus.config.js
Labels: documentation

#3559 chore: add dependency on noir_js from docs package
  .github/workflows/docs-pr.yml
  docs/package.json
  tooling/noir_js_types/package.json
  yarn.lock
Labels: documentation

#3591 chore: Update ACIR artifacts
  tooling/nargo_cli/tests/acir_artifacts/bit_shifts_comptime/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/bit_shifts_comptime/target/witness.gz
Labels: auto-pr

#3548 chore: Release Noir(0.19.4)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  acvm-repo/CHANGELOG.md
  acvm-repo/acir/Cargo.toml
  acvm-repo/acir_field/Cargo.toml
  acvm-repo/acvm/Cargo.toml
  acvm-repo/acvm_js/Cargo.toml
  acvm-repo/acvm_js/package.json
  acvm-repo/barretenberg_blackbox_solver/Cargo.toml
  acvm-repo/blackbox_solver/Cargo.toml
  acvm-repo/brillig/Cargo.toml
  acvm-repo/brillig_vm/Cargo.toml
  acvm-repo/stdlib/Cargo.toml
  compiler/source-resolver/package.json
  compiler/wasm/package.json
  flake.nix
  tooling/noir_codegen/package.json
  tooling/noir_js/package.json
  tooling/noir_js_backend_barretenberg/package.json
  tooling/noir_js_types/package.json
  tooling/noirc_abi_wasm/package.json
Labels: autorelease: pending

#3597 chore: Update ACIR artifacts
  test_programs/acir_artifacts/array_dynamic/target/acir.gz
  test_programs/acir_artifacts/array_dynamic/target/witness.gz
  test_programs/acir_artifacts/brillig_unitialised_arrays/target/acir.gz
  test_programs/acir_artifacts/brillig_unitialised_arrays/target/witness.gz
  test_programs/acir_artifacts/conditional_1/target/acir.gz
  test_programs/acir_artifacts/conditional_1/target/witness.gz
  test_programs/acir_artifacts/nested_array_dynamic/target/acir.gz
  test_programs/acir_artifacts/nested_array_dynamic/target/witness.gz
  test_programs/acir_artifacts/regression_mem_op_predicate/target/acir.gz
  test_programs/acir_artifacts/regression_mem_op_predicate/target/witness.gz
  test_programs/acir_artifacts/slice_dynamic_index/target/acir.gz
  test_programs/acir_artifacts/slice_dynamic_index/target/witness.gz
Labels: auto-pr

#3614 chore: Update ACIR artifacts
  test_programs/acir_artifacts/brillig_oracle/target/acir.gz
  test_programs/acir_artifacts/brillig_oracle/target/witness.gz
Labels: auto-pr

#3522 feat: Copy on write optimization for brillig
  compiler/noirc_evaluator/src/brillig/brillig_gen/brillig_black_box.rs
  compiler/noirc_evaluator/src/brillig/brillig_gen/brillig_block.rs
  compiler/noirc_evaluator/src/brillig/brillig_gen/brillig_block_variables.rs
  compiler/noirc_evaluator/src/brillig/brillig_gen/brillig_fn.rs
  compiler/noirc_evaluator/src/brillig/brillig_gen/brillig_slice_ops.rs
  compiler/noirc_evaluator/src/brillig/brillig_gen/variable_liveness.rs
  compiler/noirc_evaluator/src/brillig/brillig_ir.rs
  compiler/noirc_evaluator/src/brillig/brillig_ir/brillig_variable.rs
  compiler/noirc_evaluator/src/brillig/brillig_ir/entry_point.rs
  compiler/noirc_evaluator/src/ssa/acir_gen/mod.rs
  compiler/noirc_evaluator/src/ssa/function_builder/mod.rs
  compiler/noirc_evaluator/src/ssa/ir/dfg.rs
  compiler/noirc_evaluator/src/ssa/ir/instruction.rs
  compiler/noirc_evaluator/src/ssa/ir/printer.rs
  compiler/noirc_evaluator/src/ssa/ir/types.rs
  compiler/noirc_evaluator/src/ssa/opt/die.rs
  compiler/noirc_evaluator/src/ssa/opt/fill_internal_slices.rs
  compiler/noirc_evaluator/src/ssa/opt/flatten_cfg.rs
  compiler/noirc_evaluator/src/ssa/opt/flatten_cfg/value_merger.rs
  compiler/noirc_evaluator/src/ssa/opt/mem2reg.rs
  compiler/noirc_evaluator/src/ssa/ssa_gen/context.rs
  compiler/noirc_evaluator/src/ssa/ssa_gen/mod.rs
  tooling/nargo_cli/tests/execution_success/brillig_cow/Nargo.toml
  tooling/nargo_cli/tests/execution_success/brillig_cow/Prover.toml
  tooling/nargo_cli/tests/execution_success/brillig_cow/src/main.nr
Labels: optimization

#3619 chore: Update ACIR artifacts
  test_programs/acir_artifacts/brillig_acir_as_brillig/target/acir.gz
  test_programs/acir_artifacts/brillig_arrays/target/acir.gz
  test_programs/acir_artifacts/brillig_assert/target/acir.gz
  test_programs/acir_artifacts/brillig_blake2s/target/acir.gz
  test_programs/acir_artifacts/brillig_calls/target/acir.gz
  test_programs/acir_artifacts/brillig_calls_array/target/acir.gz
  test_programs/acir_artifacts/brillig_calls_conditionals/target/acir.gz
  test_programs/acir_artifacts/brillig_conditional/target/acir.gz
  test_programs/acir_artifacts/brillig_ecdsa/target/acir.gz
  test_programs/acir_artifacts/brillig_fns_as_values/target/acir.gz
  test_programs/acir_artifacts/brillig_hash_to_field/target/acir.gz
  test_programs/acir_artifacts/brillig_identity_function/target/acir.gz
  test_programs/acir_artifacts/brillig_keccak/target/acir.gz
  test_programs/acir_artifacts/brillig_nested_arrays/target/acir.gz
  test_programs/acir_artifacts/brillig_nested_slices/target/acir.gz
  test_programs/acir_artifacts/brillig_not/target/acir.gz
  test_programs/acir_artifacts/brillig_oracle/target/acir.gz
  test_programs/acir_artifacts/brillig_pedersen/target/acir.gz
  test_programs/acir_artifacts/brillig_recursion/target/acir.gz
  test_programs/acir_artifacts/brillig_references/target/acir.gz
  test_programs/acir_artifacts/brillig_scalar_mul/target/acir.gz
  test_programs/acir_artifacts/brillig_schnorr/target/acir.gz
  test_programs/acir_artifacts/brillig_sha256/target/acir.gz
  test_programs/acir_artifacts/brillig_slices/target/acir.gz
  test_programs/acir_artifacts/brillig_to_be_bytes/target/acir.gz
  test_programs/acir_artifacts/brillig_to_bytes_integration/target/acir.gz
  test_programs/acir_artifacts/brillig_to_le_bytes/target/acir.gz
  test_programs/acir_artifacts/brillig_top_level/target/acir.gz
  test_programs/acir_artifacts/brillig_unitialised_arrays/target/acir.gz
  test_programs/acir_artifacts/debug_logs/target/acir.gz
  test_programs/acir_artifacts/merkle_insert/target/acir.gz
  test_programs/acir_artifacts/mock_oracle/target/acir.gz
  test_programs/acir_artifacts/nested_arrays_from_brillig/target/acir.gz
  test_programs/acir_artifacts/regression_method_cannot_be_found/target/acir.gz
  test_programs/acir_artifacts/simple_print/target/acir.gz
  test_programs/acir_artifacts/strings/target/acir.gz
Labels: auto-pr

#3643 chore(docs): address visibility issues in docs
  docs/docs/language_concepts/01_functions.md
  docs/docs/language_concepts/07_mutability.md
  docs/versioned_docs/version-v0.10.5/language_concepts/01_functions.md
  docs/versioned_docs/version-v0.10.5/language_concepts/07_mutability.md
  docs/versioned_docs/version-v0.17.0/language_concepts/01_functions.md
  docs/versioned_docs/version-v0.17.0/language_concepts/07_mutability.md
  docs/versioned_docs/version-v0.19.0/language_concepts/01_functions.md
  docs/versioned_docs/version-v0.19.0/language_concepts/07_mutability.md
  docs/versioned_docs/version-v0.19.1/language_concepts/01_functions.md
  docs/versioned_docs/version-v0.19.1/language_concepts/07_mutability.md
  docs/versioned_docs/version-v0.19.2/language_concepts/01_functions.md
  docs/versioned_docs/version-v0.19.2/language_concepts/07_mutability.md
  docs/versioned_docs/version-v0.19.3/language_concepts/01_functions.md
  docs/versioned_docs/version-v0.19.3/language_concepts/07_mutability.md
  docs/versioned_docs/version-v0.19.4/language_concepts/01_functions.md
  docs/versioned_docs/version-v0.19.4/language_concepts/07_mutability.md
  docs/versioned_docs/version-v0.6.0/language_concepts/01_functions.md
  docs/versioned_docs/version-v0.6.0/language_concepts/07_mutability.md
  docs/versioned_docs/version-v0.7.1/language_concepts/01_functions.md
  docs/versioned_docs/version-v0.7.1/language_concepts/07_mutability.md
  docs/versioned_docs/version-v0.9.0/language_concepts/01_functions.md
  docs/versioned_docs/version-v0.9.0/language_concepts/07_mutability.md
Labels: documentation
