Repository noir-lang/noir, pull requests merged in 2023-10, with the labels that each got.

#2971 chore: Update ACIR artifacts
  tooling/nargo_cli/tests/acir_artifacts/slices/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/slices/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/to_be_bytes/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/to_be_bytes/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/to_bytes_consistent/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/to_bytes_consistent/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/to_bytes_integration/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/to_bytes_integration/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/to_le_bytes/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/to_le_bytes/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/trait_function_calls/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/trait_function_calls/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/trait_multi_module_test/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/trait_multi_module_test/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/traits_in_crates_1/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/traits_in_crates_1/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/traits_in_crates_2/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/traits_in_crates_2/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/tuple_inputs/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/tuple_inputs/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/tuples/target/acir.gz
Labels: auto-pr

#2984 chore: Update ACIR artifacts
  tooling/nargo_cli/tests/acir_artifacts/7_function/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/brillig_assert/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/eddsa/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/merkle_insert/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/nested_slice_dynamic/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/schnorr/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/simple_radix/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/simple_shield/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/slice_dynamic_index/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/slices/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/to_be_bytes/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/to_bytes_consistent/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/to_bytes_integration/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/to_le_bytes/target/acir.gz
Labels: auto-pr

#3045 feat: add conditional compilation of methods based on the underlying field being used
  Cargo.lock
  acvm-repo/acir_field/Cargo.toml
  acvm-repo/acir_field/src/lib.rs
  compiler/noirc_frontend/src/hir/def_collector/dc_mod.rs
  compiler/noirc_frontend/src/lexer/token.rs
  tooling/nargo_cli/tests/execution_success/field_attribute/Nargo.toml
  tooling/nargo_cli/tests/execution_success/field_attribute/Prover.toml
  tooling/nargo_cli/tests/execution_success/field_attribute/src/main.nr
Labels: doc needed

#3013 chore: Update ACIR artifacts
  tooling/nargo_cli/tests/acir_artifacts/7_function/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/arithmetic_binary_operations/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/arithmetic_binary_operations/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/brillig_assert/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/eddsa/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/field_attribute/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/field_attribute/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/merkle_insert/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/nested_array_dynamic/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/nested_array_dynamic/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/nested_slice_dynamic/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/schnorr/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/simple_radix/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/simple_shield/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/slice_dynamic_index/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/slices/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/to_be_bytes/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/to_bytes_consistent/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/to_bytes_integration/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/to_le_bytes/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/trait_allowed_item_name_matches/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/trait_allowed_item_name_matches/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/trait_impl_base_type/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/trait_impl_base_type/target/witness.gz
Labels: auto-pr

#3081 feat: add `execute` method to `Noir` class
  compiler/integration-tests/test/browser/compile_prove_verify.test.ts
  compiler/integration-tests/test/browser/recursion.test.ts
  tooling/noir_js/src/index.ts
  tooling/noir_js/src/program.ts
  tooling/noir_js/src/witness_generation.ts
  tooling/noir_js/test/node/cjs.test.cjs
  tooling/noir_js/test/node/e2e.test.ts
  tooling/noir_js/test/node/execute.test.ts
  tooling/noir_js/test/node/smoke.test.ts
  tooling/noir_js/test/noir_compiled_examples/assert_lt/src/main.nr
  tooling/noir_js/test/noir_compiled_examples/assert_lt/target/assert_lt.json
Labels: doc needed

#3086 chore: Update ACIR artifacts
  tooling/nargo_cli/tests/acir_artifacts/conditional_regression_547/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/conditional_regression_547/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/higher_order_functions/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/higher_order_functions/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/modulus/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/modulus/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/to_be_bytes/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/to_be_bytes/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/tuple_inputs/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/tuple_inputs/target/witness.gz
Labels: auto-pr

#3136 chore: Add Spell Checker to recommended VS Code extensions
  .vscode/extensions.json
Labels: enhancement

#3115 chore: Update ACIR artifacts
  tooling/nargo_cli/tests/acir_artifacts/conditional_regression_short_circuit/target/acir.gz
Labels: auto-pr

#3184 fix(docs): update `editUrl` path for docusaurus
  docs/docusaurus.config.js
Labels: documentation

#3209 chore: add doc for the field attribute
  docs/docs/language_concepts/01_functions.md
Labels: documentation

#3195 feat: old docs issues
  .github/workflows/build-docs.yml
  CONTRIBUTING.md
  compiler/wasm/package.json
  docs/CONTRIBUTING.md
  docs/README.md
  docs/docs/language_concepts/01_functions.md
  docs/docs/modules_packages_crates/workspaces.md
  docs/docs/nargo/01_commands.md
  docs/docs/nargo/04_language_server.md
  docs/docs/noir_js/getting_started/01_tiny_noir_app.md
  docs/docs/noir_js/noir_js.md
  docs/docs/noir_js/reference/02_noirjs.md
Labels: documentation

#3224 fix: Update link to recursion example
  docs/versioned_docs/version-0.10.5/standard_library/recursion.md
Labels: documentation

#2967 chore: Release Noir(0.17.0)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  acvm-repo/CHANGELOG.md
  acvm-repo/acir/Cargo.toml
  acvm-repo/acir_field/Cargo.toml
  acvm-repo/acvm/Cargo.toml
  acvm-repo/acvm_js/Cargo.toml
  acvm-repo/acvm_js/package.json
  acvm-repo/barretenberg_blackbox_solver/Cargo.toml
  acvm-repo/blackbox_solver/Cargo.toml
  acvm-repo/brillig/Cargo.toml
  acvm-repo/brillig_vm/Cargo.toml
  acvm-repo/stdlib/Cargo.toml
  compiler/source-resolver/package.json
  compiler/wasm/package.json
  flake.nix
  tooling/noir_js/package.json
  tooling/noir_js_backend_barretenberg/package.json
  tooling/noir_js_types/package.json
  tooling/noirc_abi_wasm/package.json
Labels: autorelease: pending

#3252 chore(docs): document info codelens
  docs/docs/nargo/04_language_server.md
  docs/static/img/codelens_compile_execute.png
  docs/static/img/codelens_run_test.png
Labels: documentation

#3263 chore: Update ACIR artifacts
  tooling/nargo_cli/tests/acir_artifacts/sha2_blocks/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/sha2_blocks/target/witness.gz
  tooling/nargo_cli/tests/acir_artifacts/sha2_byte/target/acir.gz
  tooling/nargo_cli/tests/acir_artifacts/sha2_byte/target/witness.gz
Labels: auto-pr

#3262 chore(docs): Document `nargo fmt`
  docs/docs/nargo/01_commands.md
Labels: documentation

#3260 chore(docs): Rearrange NoirJS section
  docs/docs/language_concepts/01_functions.md
  docs/docs/noir_js/getting_started/01_tiny_noir_app.md
  docs/docs/noir_js/noir_js.md
  docs/docs/noir_js/reference/01_noirjs.md
  docs/docs/noir_js/reference/02_bb_backend.md
  docs/sidebars.js
Labels: documentation

#3268 chore: method specialization
  docs/docs/language_concepts/01_functions.md
Labels: documentation

#3271 feat: add crate for pub modifier
  compiler/noirc_frontend/src/ast/expression.rs
  compiler/noirc_frontend/src/ast/mod.rs
  compiler/noirc_frontend/src/hir/resolution/errors.rs
  compiler/noirc_frontend/src/hir/resolution/resolver.rs
  compiler/noirc_frontend/src/node_interner.rs
  compiler/noirc_frontend/src/parser/parser.rs
  docs/docs/language_concepts/01_functions.md
Labels: documentation

#3279 chore: adding fix to master branch
  .github/actions/docs/build-status/script.sh
  .github/workflows/build-docs.yml
  docs/docs/language_concepts/01_functions.md
Labels: documentation

#3242 chore: Release Noir(0.18.0)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  acvm-repo/CHANGELOG.md
  acvm-repo/acir/Cargo.toml
  acvm-repo/acir_field/Cargo.toml
  acvm-repo/acvm/Cargo.toml
  acvm-repo/acvm_js/Cargo.toml
  acvm-repo/acvm_js/package.json
  acvm-repo/barretenberg_blackbox_solver/Cargo.toml
  acvm-repo/blackbox_solver/Cargo.toml
  acvm-repo/brillig/Cargo.toml
  acvm-repo/brillig_vm/Cargo.toml
  acvm-repo/stdlib/Cargo.toml
  compiler/source-resolver/package.json
  compiler/wasm/package.json
  flake.nix
  tooling/noir_js/package.json
  tooling/noir_js_backend_barretenberg/package.json
  tooling/noir_js_types/package.json
  tooling/noirc_abi_wasm/package.json
Labels: autorelease: pending

#3266 chore: pinning NoirJS guide versions to 0.17.0 and adding note on noir-examples
  docs/docs/noir_js/getting_started/01_tiny_noir_app.md
  docs/static/img/noir_getting_started_0.png
Labels: documentation

#3290 chore(docs): Cut v0.17.0 docs
  docs/versioned_docs/version-0.17.0/examples/merkle-proof.mdx
  docs/versioned_docs/version-0.17.0/getting_started/00_nargo_installation.md
  docs/versioned_docs/version-0.17.0/getting_started/01_hello_world.md
  docs/versioned_docs/version-0.17.0/getting_started/02_breakdown.md
  docs/versioned_docs/version-0.17.0/index.md
  docs/versioned_docs/version-0.17.0/language_concepts/01_functions.md
  docs/versioned_docs/version-0.17.0/language_concepts/02_control_flow.md
  docs/versioned_docs/version-0.17.0/language_concepts/03_ops.md
  docs/versioned_docs/version-0.17.0/language_concepts/04_assert.md
  docs/versioned_docs/version-0.17.0/language_concepts/05_unconstrained.md
  docs/versioned_docs/version-0.17.0/language_concepts/06_generics.md
  docs/versioned_docs/version-0.17.0/language_concepts/07_mutability.md
  docs/versioned_docs/version-0.17.0/language_concepts/08_lambdas.md
  docs/versioned_docs/version-0.17.0/language_concepts/09_comments.md
  docs/versioned_docs/version-0.17.0/language_concepts/10_distinct.md
  docs/versioned_docs/version-0.17.0/language_concepts/11_shadowing.md
  docs/versioned_docs/version-0.17.0/language_concepts/data_types.md
  docs/versioned_docs/version-0.17.0/language_concepts/data_types/00_fields.md
  docs/versioned_docs/version-0.17.0/language_concepts/data_types/01_integers.md
  docs/versioned_docs/version-0.17.0/language_concepts/data_types/02_booleans.md
  docs/versioned_docs/version-0.17.0/language_concepts/data_types/03_strings.md
  docs/versioned_docs/version-0.17.0/language_concepts/data_types/04_arrays.md
  docs/versioned_docs/version-0.17.0/language_concepts/data_types/05_slices.mdx
  docs/versioned_docs/version-0.17.0/language_concepts/data_types/06_vectors.mdx
  docs/versioned_docs/version-0.17.0/language_concepts/data_types/07_tuples.md
  docs/versioned_docs/version-0.17.0/language_concepts/data_types/08_structs.md
  docs/versioned_docs/version-0.17.0/language_concepts/data_types/09_references.md
  docs/versioned_docs/version-0.17.0/language_concepts/data_types/10_function_types.md
  docs/versioned_docs/version-0.17.0/migration_notes.md
  docs/versioned_docs/version-0.17.0/modules_packages_crates/crates_and_packages.md
  docs/versioned_docs/version-0.17.0/modules_packages_crates/dependencies.md
  docs/versioned_docs/version-0.17.0/modules_packages_crates/modules.md
  docs/versioned_docs/version-0.17.0/modules_packages_crates/workspaces.md
  docs/versioned_docs/version-0.17.0/nargo/01_commands.md
  docs/versioned_docs/version-0.17.0/nargo/02_testing.md
  docs/versioned_docs/version-0.17.0/nargo/03_solidity_verifier.md
  docs/versioned_docs/version-0.17.0/nargo/04_language_server.md
  docs/versioned_docs/version-0.17.0/noir_js/getting_started/01_tiny_noir_app.md
  docs/versioned_docs/version-0.17.0/noir_js/noir_js.md
  docs/versioned_docs/version-0.17.0/noir_js/reference/01_noirjs.md
  docs/versioned_docs/version-0.17.0/noir_js/reference/02_bb_backend.md
  docs/versioned_docs/version-0.17.0/standard_library/black_box_fns.md
  docs/versioned_docs/version-0.17.0/standard_library/cryptographic_primitives.md
  docs/versioned_docs/version-0.17.0/standard_library/cryptographic_primitives/00_hashes.mdx
  docs/versioned_docs/version-0.17.0/standard_library/cryptographic_primitives/01_scalar.mdx
  docs/versioned_docs/version-0.17.0/standard_library/cryptographic_primitives/02_schnorr.mdx
  docs/versioned_docs/version-0.17.0/standard_library/cryptographic_primitives/03_ecdsa_sig_verification.mdx
  docs/versioned_docs/version-0.17.0/standard_library/cryptographic_primitives/04_ec_primitives.md
  docs/versioned_docs/version-0.17.0/standard_library/cryptographic_primitives/05_eddsa.mdx
  docs/versioned_docs/version-0.17.0/standard_library/logging.md
  docs/versioned_docs/version-0.17.0/standard_library/merkle_trees.md
  docs/versioned_docs/version-0.17.0/standard_library/options.md
  docs/versioned_docs/version-0.17.0/standard_library/recursion.md
  docs/versioned_docs/version-0.17.0/standard_library/zeroed.md
  docs/versioned_sidebars/version-0.17.0-sidebars.json
  docs/versions.json
Labels: documentation

#3291 chore: update relative paths for docs imports
  docs/docs/language_concepts/data_types/05_slices.mdx
  docs/docs/language_concepts/data_types/06_vectors.mdx
  docs/docs/standard_library/cryptographic_primitives/00_hashes.mdx
  docs/docs/standard_library/cryptographic_primitives/01_scalar.mdx
  docs/docs/standard_library/cryptographic_primitives/02_schnorr.mdx
  docs/docs/standard_library/cryptographic_primitives/05_eddsa.mdx
Labels: documentation

#3241 chore(github): Update PR template per new documentation workflow
  .github/pull_request_template.md
Labels: enhancement, documentation

#3237 chore(docs): Supplement descriptions for defaulting loop indices to be `u64`
  docs/docs/language_concepts/data_types/01_integers.md
Labels: documentation

#3313 fix(3300): cache warnings into debug artefacts
  Cargo.lock
  compiler/noirc_driver/src/contract.rs
  compiler/noirc_driver/src/lib.rs
  compiler/noirc_driver/src/program.rs
  compiler/noirc_evaluator/Cargo.toml
  compiler/noirc_evaluator/src/errors.rs
  tooling/nargo/src/artifacts/debug.rs
  tooling/nargo/src/ops/test.rs
  tooling/nargo_cli/src/cli/compile_cmd.rs
  tooling/nargo_cli/src/cli/debug_cmd.rs
  tooling/nargo_cli/src/cli/execute_cmd.rs
Labels: documentation

#3341 chore!: change stdlib function `pedersen` to `pedersen_commitment`
  docs/docs/examples/merkle-proof.mdx
  docs/docs/index.md
  docs/docs/standard_library/black_box_fns.md
  docs/docs/standard_library/cryptographic_primitives/00_hashes.mdx
  docs/docs/standard_library/merkle_trees.md
  noir_stdlib/src/hash.nr
  noir_stdlib/src/merkle.nr
  tooling/nargo_cli/tests/compile_success_empty/intrinsic_die/src/main.nr
  tooling/nargo_cli/tests/execution_success/brillig_pedersen/src/main.nr
  tooling/nargo_cli/tests/execution_success/eddsa/src/main.nr
  tooling/nargo_cli/tests/execution_success/import/src/main.nr
  tooling/nargo_cli/tests/execution_success/pedersen_check/src/main.nr
  tooling/nargo_cli/tests/execution_success/simple_shield/src/main.nr
  tooling/nargo_cli/tests/execution_success/strings/src/main.nr
  tooling/nargo_cli/tests/noir_test_failure/should_fail_mismatch/src/main.nr
  tooling/nargo_cli/tests/noir_test_success/should_fail_with_matches/src/main.nr
Labels: documentation

#3326 chore(docs): Update Windows installation
  docs/docs/getting_started/00_nargo_installation.md
  docs/versioned_docs/version-0.17.0/getting_started/00_nargo_installation.md
Labels: documentation

#3353 chore!: bump MSRV to 1.71.1
  .github/workflows/auto-pr-rebuild-script.yml
  .github/workflows/formatting.yml
  .github/workflows/gates_report.yml
  .github/workflows/publish-acvm.yml
  .github/workflows/publish-nargo.yml
  .github/workflows/test-integration.yml
  .github/workflows/test-noir-js.yml
  .github/workflows/test-noir_wasm.yml
  .github/workflows/test-rust-workspace.yml
  README.md
  docs/docs/getting_started/00_nargo_installation.md
  flake.nix
  rust-toolchain.toml
  tooling/nargo/build.rs
  tooling/nargo_cli/build.rs
  tooling/nargo_fmt/src/utils.rs
Labels: documentation

#3359 chore: Add links to complete NoirJS app code to the guide
  docs/docs/noir_js/getting_started/01_tiny_noir_app.md
  docs/docs/standard_library/cryptographic_primitives/03_ecdsa_sig_verification.mdx
Labels: documentation

#3361 fix!: move mimc to hash submodule
  docs/docs/standard_library/cryptographic_primitives/00_hashes.mdx
  noir_stdlib/src/hash.nr
  noir_stdlib/src/hash/mimc.nr
  tooling/nargo_cli/tests/execution_success/6/src/main.nr
  tooling/nargo_cli/tests/execution_success/merkle_insert/src/main.nr
Labels: documentation

#3294 feat(noir_js): allow providing foreign call handlers in noirJS
  docs/docs/noir_js/reference/01_noirjs.md
  tooling/noir_js/src/program.ts
  tooling/noir_js/src/witness_generation.ts
Labels: documentation

#3296 fix: fixing versioning workflow
  .github/workflows/build-docs.yml
  .github/workflows/publish-docs.yml
  .github/workflows/release.yml
  docs/.gitignore
  docs/docs/nargo/04_language_server.md
  docs/docs/noir_js/getting_started/01_tiny_noir_app.md
  docs/docusaurus.config.js
  docs/package.json
  docs/scripts/setStable.js
  docs/versioned_docs/version-0.10.5/getting_started/03_language_server.md
  docs/versioned_docs/version-0.17.0/language_concepts/data_types/05_slices.mdx
  docs/versioned_docs/version-0.17.0/language_concepts/data_types/06_vectors.mdx
  docs/versioned_docs/version-0.17.0/nargo/04_language_server.md
  docs/versioned_docs/version-0.17.0/noir_js/getting_started/01_tiny_noir_app.md
  docs/versioned_docs/version-0.17.0/standard_library/cryptographic_primitives/00_hashes.mdx
  docs/versioned_docs/version-0.17.0/standard_library/cryptographic_primitives/01_scalar.mdx
  docs/versioned_docs/version-0.17.0/standard_library/cryptographic_primitives/02_schnorr.mdx
  docs/versioned_docs/version-0.17.0/standard_library/cryptographic_primitives/03_ecdsa_sig_verification.mdx
  docs/versioned_docs/version-0.17.0/standard_library/cryptographic_primitives/05_eddsa.mdx
  docs/versions.json
Labels: documentation
