Repository noir-lang/noir, pull requests merged in 2023-04, with the labels that each got.

#768 feat(stdlib): Implement Poseidon hash
  crates/nargo/tests/test_data/poseidonperm_x5_254/Nargo.toml
  crates/nargo/tests/test_data/poseidonperm_x5_254/Prover.toml
  crates/nargo/tests/test_data/poseidonperm_x5_254/src/main.nr
  crates/nargo/tests/test_data/poseidonsponge_x5_254/Nargo.toml
  crates/nargo/tests/test_data/poseidonsponge_x5_254/Prover.toml
  crates/nargo/tests/test_data/poseidonsponge_x5_254/src/main.nr
  crates/nargo_cli/tests/test_data/config.toml
  noir_stdlib/src/hash.nr
  noir_stdlib/src/hash/poseidon.nr
  noir_stdlib/src/hash/poseidon/bn254.nr
  noir_stdlib/src/hash/poseidon/bn254/consts.nr
  noir_stdlib/src/hash/poseidon/bn254/perm.nr
Labels: noir-stdlib, compiler, doc needed

#1104 feat(nargo): add skeleton of composite types in template input tomls
  crates/nargo_cli/src/cli/check_cmd.rs
Labels: doc needed

#1005 chore(noir): Release 0.4.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: autorelease: pending

#1176 feat: Add Poseidon-BN254 hash functions
  crates/nargo/tests/test_data/poseidon_bn254_hash/Nargo.toml
  crates/nargo/tests/test_data/poseidon_bn254_hash/Prover.toml
  crates/nargo/tests/test_data/poseidon_bn254_hash/src/main.nr
  crates/nargo/tests/test_data/poseidonperm_x5_254/src/main.nr
  crates/nargo/tests/test_data/poseidonsponge_x5_254/src/main.nr
  noir_stdlib/src/hash/poseidon/bn254.nr
Labels: doc needed

#1164 chore(noir): Release 0.4.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Labels: autorelease: pending

#1114 feat!: Switch to aztec_backend that uses upstream BB & UltraPlonk
  .envrc
  .github/workflows/release.yml
  .github/workflows/rust.yml
  .github/workflows/test.yml
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  README.md
  crates/nargo/Cargo.toml
  crates/nargo_cli/Cargo.toml
  crates/nargo_cli/build.rs
  crates/nargo_cli/src/cli/codegen_verifier_cmd.rs
  crates/nargo_cli/src/lib.rs
  crates/nargo_cli/tests/prove_and_verify.rs
  crates/nargo_cli/tests/test_data/merkle_insert/Prover.toml
  crates/nargo_cli/tests/test_data/pedersen_check/Prover.toml
  crates/nargo_cli/tests/test_data/simple_shield/Prover.toml
  crates/nargo_cli/tests/test_data/xor/Nargo.toml
  crates/nargo_cli/tests/test_data/xor/Prover.toml
  crates/nargo_cli/tests/test_data/xor/src/main.nr
  crates/noirc_evaluator/src/ssa/acir_gen/operations/sort.rs
  crates/wasm/build.rs
  crates/wasm/src/circuit.rs
  crates/wasm/src/lib.rs
  cspell.json
  default.nix
  flake.lock
  flake.nix
  shell.nix
Labels: doc needed

#1219 feat(noir): added `distinct` keyword
  crates/noirc_abi/src/lib.rs
  crates/noirc_evaluator/src/lib.rs
  crates/noirc_evaluator/src/ssa/acir_gen/operations/return.rs
  crates/noirc_frontend/src/ast/expression.rs
  crates/noirc_frontend/src/hir/def_map/mod.rs
  crates/noirc_frontend/src/hir/resolution/errors.rs
  crates/noirc_frontend/src/hir/resolution/resolver.rs
  crates/noirc_frontend/src/hir/type_check/mod.rs
  crates/noirc_frontend/src/hir_def/function.rs
  crates/noirc_frontend/src/lexer/token.rs
  crates/noirc_frontend/src/monomorphization/ast.rs
  crates/noirc_frontend/src/monomorphization/mod.rs
  crates/noirc_frontend/src/parser/parser.rs
Labels: doc needed

#1227 feat(noir): added assert keyword
  crates/nargo_cli/tests/test_data/assert/Nargo.toml
  crates/nargo_cli/tests/test_data/assert/Prover.toml
  crates/nargo_cli/tests/test_data/assert/src/main.nr
  crates/noirc_frontend/src/lexer/lexer.rs
  crates/noirc_frontend/src/lexer/token.rs
  crates/noirc_frontend/src/parser/parser.rs
Labels: doc needed

#1202 chore(noir): Release 0.5.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  flake.nix
Labels: autorelease: pending
