Repository noir-lang/noir, pull requests merged in 2024-02, with the labels that each got.

#4223 chore(docs): XOR typo in docs
  docs/docs/noir/concepts/unconstrained.md
Labels: documentation

#4101 feat: Evaluation of dynamic assert messages
  Cargo.lock
  Cargo.toml
  acvm-repo/acir/src/circuit/mod.rs
  acvm-repo/brillig/src/foreign_call.rs
  acvm-repo/brillig_vm/src/lib.rs
  compiler/noirc_driver/Cargo.toml
  compiler/noirc_driver/src/lib.rs
  compiler/noirc_evaluator/src/brillig/brillig_gen/brillig_block.rs
  compiler/noirc_evaluator/src/ssa/acir_gen/mod.rs
  compiler/noirc_evaluator/src/ssa/function_builder/mod.rs
  compiler/noirc_evaluator/src/ssa/ir/instruction.rs
  compiler/noirc_evaluator/src/ssa/ir/instruction/constrain.rs
  compiler/noirc_evaluator/src/ssa/ir/printer.rs
  compiler/noirc_evaluator/src/ssa/opt/bubble_up_constrains.rs
  compiler/noirc_evaluator/src/ssa/opt/defunctionalize.rs
  compiler/noirc_evaluator/src/ssa/ssa_gen/context.rs
  compiler/noirc_evaluator/src/ssa/ssa_gen/mod.rs
  compiler/noirc_frontend/src/ast/statement.rs
  compiler/noirc_frontend/src/hir/resolution/resolver.rs
  compiler/noirc_frontend/src/hir/type_check/stmt.rs
  compiler/noirc_frontend/src/hir_def/stmt.rs
  compiler/noirc_frontend/src/lib.rs
  compiler/noirc_frontend/src/monomorphization/ast.rs
  compiler/noirc_frontend/src/monomorphization/mod.rs
  compiler/noirc_frontend/src/parser/parser.rs
  compiler/noirc_printable_type/src/lib.rs
  docs/docs/noir/concepts/assert.md
  noirc_macros/Cargo.toml
  noirc_macros/src/lib.rs
  test_programs/compile_failure/assert_msg_runtime/Nargo.toml
  test_programs/compile_failure/assert_msg_runtime/src/main.nr
  test_programs/compile_failure/brillig_assert_msg_runtime/Nargo.toml
  test_programs/compile_failure/brillig_assert_msg_runtime/src/main.nr
  test_programs/compile_success_empty/method_call_regression/Nargo.toml
  test_programs/compile_success_empty/trait_static_methods/Nargo.toml
  test_programs/execution_success/brillig_assert/src/main.nr
  test_programs/execution_success/debug_logs/src/main.nr
  tooling/debugger/src/context.rs
  tooling/nargo/src/ops/execute.rs
  tooling/nargo/src/ops/foreign_calls.rs
  tooling/nargo_fmt/src/visitor/stmt.rs
  tooling/noir_js/src/witness_generation.ts
  tooling/noir_js/test/node/execute.test.ts
  tooling/noir_js/test/noir_compiled_examples/assert_lt/src/main.nr
  tooling/noir_js/test/noir_compiled_examples/assert_lt/target/assert_lt.json
  tooling/noir_js/test/noir_compiled_examples/assert_msg_runtime/Nargo.toml
  tooling/noir_js/test/noir_compiled_examples/assert_msg_runtime/src/main.nr
  tooling/noir_js/test/noir_compiled_examples/assert_msg_runtime/target/assert_msg_runtime.json
Labels: documentation

#4219 feat: Option expect method
  compiler/noirc_frontend/src/monomorphization/mod.rs
  docs/docs/noir/standard_library/options.md
  noir_stdlib/src/option.nr
  test_programs/compile_failure/assert_msg_runtime/Prover.toml
  test_programs/compile_failure/brillig_assert_msg_runtime/Prover.toml
  test_programs/compile_failure/option_expect/Nargo.toml
  test_programs/compile_failure/option_expect/src/main.nr
  test_programs/compile_failure/option_expect_bad_input/Nargo.toml
  test_programs/compile_failure/option_expect_bad_input/src/main.nr
  test_programs/compile_success_empty/option/src/main.nr
Labels: documentation

#4199 chore(docs): Updates following `is_recursive` flag removal
  docs/docs/how_to/how-to-recursion.md
Labels: documentation

#4122 feat: Add instrumentation for tracking variables in debugging
  Cargo.lock
  acvm-repo/acir_field/src/generic_ark.rs
  compiler/noirc_driver/src/lib.rs
  compiler/noirc_errors/Cargo.toml
  compiler/noirc_errors/src/debug_info.rs
  compiler/noirc_evaluator/src/brillig/brillig_gen/brillig_block.rs
  compiler/noirc_evaluator/src/brillig/brillig_gen/brillig_block_variables.rs
  compiler/noirc_evaluator/src/ssa.rs
  compiler/noirc_evaluator/src/ssa/acir_gen/mod.rs
  compiler/noirc_evaluator/src/ssa/ssa_gen/mod.rs
  compiler/noirc_frontend/src/debug/mod.rs
  compiler/noirc_frontend/src/hir/mod.rs
  compiler/noirc_frontend/src/lib.rs
  compiler/noirc_frontend/src/monomorphization/ast.rs
  compiler/noirc_frontend/src/monomorphization/debug.rs
  compiler/noirc_frontend/src/monomorphization/debug_types.rs
  compiler/noirc_frontend/src/monomorphization/mod.rs
  compiler/noirc_frontend/src/tests.rs
  compiler/noirc_printable_type/src/lib.rs
  tooling/debugger/Cargo.toml
  tooling/debugger/build.rs
  tooling/debugger/ignored-tests.txt
  tooling/debugger/src/context.rs
  tooling/debugger/src/dap.rs
  tooling/debugger/src/foreign_calls.rs
  tooling/debugger/src/lib.rs
  tooling/debugger/src/repl.rs
  tooling/debugger/src/source_code_printer.rs
  tooling/debugger/tests/debug.rs
  tooling/lsp/src/requests/test_run.rs
  tooling/nargo/src/artifacts/debug.rs
  tooling/nargo/src/artifacts/debug_vars.rs
  tooling/nargo/src/artifacts/mod.rs
  tooling/nargo/src/ops/compile.rs
  tooling/nargo/src/ops/foreign_calls.rs
  tooling/nargo/src/ops/mod.rs
  tooling/nargo/src/ops/test.rs
  tooling/nargo_cli/src/cli/dap_cmd.rs
  tooling/nargo_cli/src/cli/debug_cmd.rs
  tooling/nargo_cli/src/cli/export_cmd.rs
  tooling/nargo_cli/src/cli/test_cmd.rs
Labels: debugger

#4225 chore: document u128 feature
  docs/docs/noir/concepts/data_types/integers.md
Labels: documentation

#4298 chore: Update mutability docs
  docs/docs/noir/concepts/mutability.md
Labels: documentation

#4149 chore(docs): codegen reference docs for `nargo` CLI
  .github/workflows/docs-pr.yml
  Cargo.lock
  deny.toml
  docs/docs/reference/nargo_commands.md
  docs/package.json
  docs/scripts/codegen_nargo_reference.sh
  tooling/nargo_cli/Cargo.toml
  tooling/nargo_cli/src/cli/mod.rs
Labels: documentation

#4284 chore(github): Update Issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: enhancement

#4293 feat: Allow globals to refer to any expression
  compiler/noirc_frontend/src/hir/def_collector/dc_crate.rs
  compiler/noirc_frontend/src/hir/def_collector/dc_mod.rs
  compiler/noirc_frontend/src/hir/def_map/module_data.rs
  compiler/noirc_frontend/src/hir/def_map/module_def.rs
  compiler/noirc_frontend/src/hir/resolution/globals.rs
  compiler/noirc_frontend/src/hir/resolution/resolver.rs
  compiler/noirc_frontend/src/hir/type_check/mod.rs
  compiler/noirc_frontend/src/monomorphization/mod.rs
  compiler/noirc_frontend/src/node_interner.rs
  compiler/noirc_frontend/src/parser/parser.rs
  compiler/noirc_frontend/src/tests.rs
  docs/docs/noir/concepts/globals.md
  test_programs/execution_success/global_consts/src/main.nr
Labels: documentation

#4184 feat: Allow variables and stack trace inspection in the debugger
  acvm-repo/acvm/src/pwg/brillig.rs
  acvm-repo/brillig_vm/src/lib.rs
  tooling/debugger/src/context.rs
  tooling/debugger/src/dap.rs
  tooling/debugger/src/repl.rs
Labels: debugger

#4311 chore: Document bn254 lib
  docs/docs/noir/concepts/data_types/fields.md
  docs/docs/noir/standard_library/bn254.md
  noir_stdlib/src/field/bn254.nr
Labels: documentation

#4321 chore(docs): remove playground
  docs/package.json
  docs/src/pages/index.jsx
  yarn.lock
Labels: documentation

#4324 chore(docs): Update v0.23.0 docs with retroactive doc updates
  docs/docs/noir/standard_library/black_box_fns.md
  docs/docs/tutorials/noirjs_app.md
  docs/versioned_docs/version-v0.23.0/noir/concepts/data_types/fields.md
  docs/versioned_docs/version-v0.23.0/noir/concepts/data_types/integers.md
  docs/versioned_docs/version-v0.23.0/noir/standard_library/black_box_fns.md
  docs/versioned_docs/version-v0.23.0/noir/standard_library/bn254.md
  docs/versioned_docs/version-v0.23.0/noir/standard_library/cryptographic_primitives/ecdsa_sig_verification.mdx
  docs/versioned_docs/version-v0.23.0/noir/standard_library/cryptographic_primitives/hashes.mdx
  docs/versioned_docs/version-v0.23.0/noir/standard_library/cryptographic_primitives/scalar.mdx
  docs/versioned_docs/version-v0.23.0/noir/standard_library/cryptographic_primitives/schnorr.mdx
  docs/versioned_docs/version-v0.23.0/reference/NoirJS/noir_wasm/.nojekyll
  docs/versioned_docs/version-v0.23.0/reference/NoirJS/noir_wasm/functions/compile.md
  docs/versioned_docs/version-v0.23.0/reference/NoirJS/noir_wasm/functions/createFileManager.md
  docs/versioned_docs/version-v0.23.0/reference/NoirJS/noir_wasm/functions/inflateDebugSymbols.md
  docs/versioned_docs/version-v0.23.0/reference/NoirJS/noir_wasm/index.md
  docs/versioned_docs/version-v0.23.0/reference/NoirJS/noir_wasm/type-aliases/CompilationResult.md
  docs/versioned_docs/version-v0.23.0/reference/NoirJS/noir_wasm/typedoc-sidebar.cjs
  docs/versioned_docs/version-v0.23.0/tutorials/noirjs_app.md
Labels: documentation

#4326 chore: fix dead link in docs
  docs/src/pages/index.jsx
Labels: documentation

#4337 chore(docs): Add manual trigger for publishing docs
  .github/workflows/publish-docs.yml
Labels: CI, documentation

#4345 chore: fix typos
  docs/versioned_docs/version-v0.19.0/language_concepts/data_types/01_integers.md
  docs/versioned_docs/version-v0.19.1/language_concepts/data_types/01_integers.md
  docs/versioned_docs/version-v0.19.2/language_concepts/data_types/01_integers.md
  docs/versioned_docs/version-v0.19.3/language_concepts/data_types/01_integers.md
  docs/versioned_docs/version-v0.22.0/noir/syntax/data_types/integers.md
Labels: documentation

#4328 chore(docs): Add error info about libc++ and contextual search
  cspell.json
  docs/docs/migration_notes.md
  docs/docusaurus.config.ts
  docs/versioned_docs/version-v0.22.0/migration_notes.md
  docs/versioned_docs/version-v0.23.0/migration_notes.md
Labels: documentation

#4235 feat!: Restrict bit sizes
  aztec_macros/src/lib.rs
  compiler/noirc_evaluator/src/ssa/ssa_gen/context.rs
  compiler/noirc_frontend/src/ast/mod.rs
  compiler/noirc_frontend/src/hir/type_check/errors.rs
  compiler/noirc_frontend/src/hir/type_check/stmt.rs
  compiler/noirc_frontend/src/hir_def/types.rs
  compiler/noirc_frontend/src/lexer/errors.rs
  compiler/noirc_frontend/src/lexer/lexer.rs
  compiler/noirc_frontend/src/lexer/token.rs
  compiler/noirc_frontend/src/monomorphization/ast.rs
  compiler/noirc_frontend/src/monomorphization/mod.rs
  compiler/noirc_frontend/src/parser/errors.rs
  compiler/noirc_frontend/src/parser/parser.rs
  cspell.json
  docs/docs/noir/concepts/data_types/integers.md
  test_programs/compile_failure/integer_literal_overflow/src/main.nr
  test_programs/compile_failure/restricted_bit_sizes/Nargo.toml
  test_programs/compile_failure/restricted_bit_sizes/src/main.nr
  test_programs/execution_success/regression_2854/Prover.toml
  test_programs/execution_success/regression_2854/src/main.nr
  tooling/noirc_abi/src/lib.rs
Labels: documentation

#4353 feat: Allow type aliases to reference other aliases
  compiler/noirc_frontend/src/hir/resolution/resolver.rs
  compiler/noirc_frontend/src/hir/resolution/type_aliases.rs
  compiler/noirc_frontend/src/hir/type_check/expr.rs
  compiler/noirc_frontend/src/hir/type_check/stmt.rs
  compiler/noirc_frontend/src/hir_def/types.rs
  compiler/noirc_frontend/src/monomorphization/mod.rs
  compiler/noirc_frontend/src/node_interner.rs
  compiler/noirc_frontend/src/resolve_locations.rs
  compiler/noirc_frontend/src/tests.rs
  docs/docs/noir/concepts/data_types/index.md
  tooling/noirc_abi/src/lib.rs
Labels: documentation

#4185 feat: DAP Preflight and debugger compilation options
  cspell.json
  tooling/debugger/src/dap.rs
  tooling/debugger/src/errors.rs
  tooling/debugger/src/lib.rs
  tooling/nargo_cli/src/cli/dap_cmd.rs
  tooling/nargo_cli/src/cli/debug_cmd.rs
  tooling/nargo_cli/src/errors.rs
Labels: debugger

#4375 chore(github): Auto tag Dev Rel on doc-changing PRs
  .github/workflows/docs-pr.yml
Labels: enhancement, CI, documentation

#4378 fix(docs): Update noirjs_app for 0.23
  docs/versioned_docs/version-v0.23.0/tutorials/noirjs_app.md
Labels: documentation

#4396 fix(docs): update install versions
  docs/docs/getting_started/installation/other_install_methods.md
  docs/versioned_docs/version-v0.23.0/getting_started/installation/other_install_methods.md
  docs/versioned_docs/version-v0.24.0/getting_started/installation/other_install_methods.md
Labels: documentation

#4400 chore: Update Vec docs
  docs/docs/noir/standard_library/containers/vec.mdx
Labels: documentation

#4406 chore!: bump msrv to 1.73.0
  .github/workflows/docs-pr.yml
  .github/workflows/formatting.yml
  .github/workflows/gates_report.yml
  .github/workflows/publish-acvm.yml
  .github/workflows/publish-es-packages.yml
  .github/workflows/publish-nargo.yml
  .github/workflows/test-js-packages.yml
  .github/workflows/test-rust-workspace-msrv.yml
  .github/workflows/test-rust-workspace.yml
  Cargo.toml
  Dockerfile.ci
  README.md
  docs/docs/getting_started/installation/other_install_methods.md
  flake.nix
  rust-toolchain.toml
  tooling/nargo/build.rs
  tooling/nargo_cli/build.rs
Labels: documentation

#4399 chore: Add #[recursive] Explainer to Documentation
  docs/docs/noir/standard_library/recursion.md
  docs/versioned_docs/version-v0.24.0/noir/standard_library/recursion.md
Labels: documentation, recursion

#4398 feat: add poseidon2 opcode implementation for acvm/brillig, and Noir
  Cargo.lock
  acvm-repo/acvm/src/pwg/blackbox/hash.rs
  acvm-repo/acvm/src/pwg/blackbox/mod.rs
  acvm-repo/blackbox_solver/src/curve_specific_solver.rs
  acvm-repo/bn254_blackbox_solver/Cargo.toml
  acvm-repo/bn254_blackbox_solver/src/lib.rs
  acvm-repo/bn254_blackbox_solver/src/poseidon2.rs
  acvm-repo/brillig_vm/src/black_box.rs
  acvm-repo/brillig_vm/src/lib.rs
  compiler/noirc_evaluator/src/brillig/brillig_ir.rs
  docs/docs/noir/standard_library/cryptographic_primitives/hashes.mdx
  noir_stdlib/src/hash.nr
  noir_stdlib/src/hash/poseidon2.nr
  test_programs/execution_success/poseidon_bn254_hash/Prover.toml
  test_programs/execution_success/poseidon_bn254_hash/src/main.nr
  tooling/lsp/src/solver.rs
Labels: documentation

#4430 chore: Document BoundedVec
  docs/docs/noir/standard_library/containers/boundedvec.md
  test_programs/noir_test_success/bounded_vec/src/main.nr
Labels: documentation
