Repository noir-lang/noir, pull requests merged in 2024-07, with the labels that each got.

#5039 feat: `mod.nr` entrypoint
  Cargo.lock
  compiler/fm/Cargo.toml
  compiler/fm/src/lib.rs
  compiler/noirc_frontend/Cargo.toml
  compiler/noirc_frontend/src/hir/def_collector/dc_mod.rs
  compiler/noirc_frontend/src/hir/def_collector/errors.rs
  docs/docs/noir/modules_packages_crates/modules.md
  test_programs/compile_failure/invalid_main_sub_lib/Nargo.toml
  test_programs/compile_failure/invalid_main_sub_lib/src/main.nr
  test_programs/compile_failure/invalid_main_sub_lib/src/main/lib.nr
  test_programs/compile_failure/invalid_mod_mod_path/Nargo.toml
  test_programs/compile_failure/invalid_mod_mod_path/main/lib.nr
  test_programs/compile_failure/invalid_mod_mod_path/src/main.nr
  test_programs/compile_failure/invalid_mod_mod_path/src/mod.nr
  test_programs/compile_failure/overlapping_mod/Nargo.toml
  test_programs/compile_failure/overlapping_mod/src/foo.nr
  test_programs/compile_failure/overlapping_mod/src/foo/mod.nr
  test_programs/compile_failure/overlapping_mod/src/main.nr
  test_programs/compile_success_empty/mod_nr_entrypoint/Nargo.toml
  test_programs/compile_success_empty/mod_nr_entrypoint/src/baz.nr
  test_programs/compile_success_empty/mod_nr_entrypoint/src/foo/bar.nr
  test_programs/compile_success_empty/mod_nr_entrypoint/src/foo/mod.nr
  test_programs/compile_success_empty/mod_nr_entrypoint/src/main.nr
Labels: documentation

#5400 chore(docs): Remove persona boxes from the landing page
  docs/src/pages/index.jsx
Labels: documentation

#5398 fix(docs): Fix broken docs link to gihtub
  docs/versioned_docs/version-v0.17.0/standard_library/cryptographic_primitives/04_ec_primitives.md
  docs/versioned_docs/version-v0.19.0/standard_library/cryptographic_primitives/04_ec_primitives.md
  docs/versioned_docs/version-v0.19.1/standard_library/cryptographic_primitives/04_ec_primitives.md
  docs/versioned_docs/version-v0.19.2/standard_library/cryptographic_primitives/04_ec_primitives.md
  docs/versioned_docs/version-v0.19.3/standard_library/cryptographic_primitives/04_ec_primitives.md
  docs/versioned_docs/version-v0.19.4/standard_library/cryptographic_primitives/04_ec_primitives.md
  docs/versioned_docs/version-v0.22.0/noir/standard_library/cryptographic_primitives/ec_primitives.md
  docs/versioned_docs/version-v0.23.0/noir/standard_library/cryptographic_primitives/ec_primitives.md
  docs/versioned_docs/version-v0.24.0/noir/standard_library/cryptographic_primitives/ec_primitives.md
  docs/versioned_docs/version-v0.25.0/noir/standard_library/cryptographic_primitives/ec_primitives.md
  docs/versioned_docs/version-v0.26.0/noir/standard_library/cryptographic_primitives/ec_primitives.md
  docs/versioned_docs/version-v0.27.0/noir/standard_library/cryptographic_primitives/ec_primitives.md
  docs/versioned_docs/version-v0.28.0/noir/standard_library/cryptographic_primitives/ec_primitives.md
  docs/versioned_docs/version-v0.29.0/noir/standard_library/cryptographic_primitives/ec_primitives.md
  docs/versioned_docs/version-v0.30.0/noir/standard_library/cryptographic_primitives/ec_primitives.md
Labels: documentation

#5386 chore: add test and benchmarks for poseidon2
  docs/docs/noir/standard_library/cryptographic_primitives/hashes.mdx
  test_programs/benchmarks/bench_poseidon2_hash/Nargo.toml
  test_programs/benchmarks/bench_poseidon2_hash/Prover.toml
  test_programs/benchmarks/bench_poseidon2_hash/src/main.nr
  test_programs/benchmarks/bench_poseidon2_hash_100/Nargo.toml
  test_programs/benchmarks/bench_poseidon2_hash_100/Prover.toml
  test_programs/benchmarks/bench_poseidon2_hash_100/src/main.nr
  test_programs/benchmarks/bench_poseidon2_hash_30/Nargo.toml
  test_programs/benchmarks/bench_poseidon2_hash_30/Prover.toml
  test_programs/benchmarks/bench_poseidon2_hash_30/src/main.nr
  test_programs/benchmarks/bench_poseidon_hash/bench_poseidon_hash_100/Nargo.toml
  test_programs/benchmarks/bench_poseidon_hash/bench_poseidon_hash_100/Prover.toml
  test_programs/benchmarks/bench_poseidon_hash/bench_poseidon_hash_100/src/main.nr
  test_programs/benchmarks/bench_poseidon_hash/bench_poseidon_hash_30/Nargo.toml
  test_programs/benchmarks/bench_poseidon_hash/bench_poseidon_hash_30/Prover.toml
  test_programs/benchmarks/bench_poseidon_hash/bench_poseidon_hash_30/src/main.nr
  test_programs/execution_success/poseidon2/Nargo.toml
  test_programs/execution_success/poseidon2/Prover.toml
  test_programs/execution_success/poseidon2/src/main.nr
  test_programs/execution_success/poseidon_bn254_hash/Prover.toml
  test_programs/execution_success/poseidon_bn254_hash/src/main.nr
Labels: documentation

#5422 chore: Add remaining slice methods to the interpreter
  compiler/noirc_frontend/src/hir/comptime/interpreter/builtin.rs
  docs/docs/noir/standard_library/is_unconstrained.md
  test_programs/compile_success_empty/comptime_slice_methods/Nargo.toml
  test_programs/compile_success_empty/comptime_slice_methods/src/main.nr
  tooling/nargo_cli/build.rs
Labels: documentation

#5402 feat: Detect subgraphs that are completely independent from inputs or outputs
  compiler/noirc_errors/src/reporter.rs
  compiler/noirc_evaluator/src/errors.rs
  compiler/noirc_evaluator/src/ssa.rs
  compiler/noirc_evaluator/src/ssa/acir_gen/mod.rs
  compiler/noirc_evaluator/src/ssa/opt/check_for_underconstrained_values.rs
  compiler/noirc_evaluator/src/ssa/opt/mod.rs
  tooling/lsp/src/notifications/mod.rs
Labels: compiler

#5424 feat: Add more slice methods to the stdlib
  compiler/noirc_frontend/src/parser/parser.rs
  docs/docs/noir/concepts/data_types/slices.mdx
  docs/docs/noir/standard_library/traits.md
  noir_stdlib/src/append.nr
  noir_stdlib/src/lib.nr
  noir_stdlib/src/slice.nr
  test_programs/compile_success_empty/slice_join/Nargo.toml
  test_programs/compile_success_empty/slice_join/src/main.nr
Labels: documentation

#5487 chore: redo typo PR by omahs
  docs/docs/explainers/explainer-oracle.md
  docs/docs/how_to/how-to-oracles.md
  docs/docs/how_to/how-to-recursion.md
  docs/docs/how_to/how-to-solidity-verifier.md
Labels: documentation

#5502 feat: add support for usage of `super` in import paths
  compiler/noirc_frontend/src/ast/statement.rs
  compiler/noirc_frontend/src/hir/def_collector/dc_mod.rs
  compiler/noirc_frontend/src/hir/resolution/import.rs
  compiler/noirc_frontend/src/node_interner.rs
  compiler/noirc_frontend/src/parser/parser/path.rs
  compiler/noirc_frontend/src/tests.rs
  docs/docs/noir/modules_packages_crates/modules.md
  tooling/lsp/src/requests/hover.rs
  tooling/lsp/src/requests/mod.rs
  tooling/nargo_fmt/src/rewrite/imports.rs
  tooling/nargo_fmt/tests/expected/use_super.nr
  tooling/nargo_fmt/tests/input/use_super.nr
Labels: documentation

#5505 feat(nargo): Default expression width field in `Nargo.toml`
  Cargo.lock
  compiler/noirc_driver/src/lib.rs
  compiler/wasm/src/compile.rs
  compiler/wasm/src/compile_new.rs
  docs/docs/getting_started/hello_noir/project_breakdown.md
  test_programs/execution_success/poseidon_bn254_hash_width_3/Nargo.toml
  test_programs/execution_success/poseidon_bn254_hash_width_3/Prover.toml
  test_programs/execution_success/poseidon_bn254_hash_width_3/src/main.nr
  tooling/lsp/src/lib.rs
  tooling/nargo/src/package.rs
  tooling/nargo_cli/src/cli/compile_cmd.rs
  tooling/nargo_cli/src/cli/debug_cmd.rs
  tooling/nargo_cli/src/cli/info_cmd.rs
  tooling/nargo_cli/tests/stdlib-tests.rs
  tooling/nargo_toml/Cargo.toml
  tooling/nargo_toml/src/errors.rs
  tooling/nargo_toml/src/lib.rs
  tooling/nargo_toml/src/semver.rs
Labels: documentation

#5555 chore(docs): Docs for turbofish operator
  docs/docs/noir/concepts/generics.md
Labels: documentation

#5600 chore(docs): nasty linky
  docs/docusaurus.config.ts
  docs/src/components/Notes/_blackbox.mdx
Labels: documentation

#5601 chore(docs): Update proving backend related docs
  docs/docs/getting_started/backend/_category_.json
  docs/docs/getting_started/backend/index.md
  docs/docs/getting_started/barretenberg/index.md
  docs/docs/getting_started/hello_noir/index.md
  docs/docs/getting_started/hello_noir/project_breakdown.md
  docs/docs/getting_started/installation/index.md
  docs/versioned_docs/version-v0.19.4/getting_started/01_hello_world.md
  docs/versioned_docs/version-v0.19.4/language_concepts/data_types/02_booleans.md
  docs/versioned_docs/version-v0.19.4/language_concepts/data_types/04_arrays.md
  docs/versioned_docs/version-v0.19.4/modules_packages_crates/dependencies.md
  docs/versioned_docs/version-v0.19.4/nargo/01_commands.md
  docs/versioned_docs/version-v0.19.4/standard_library/black_box_fns.md
  docs/versioned_docs/version-v0.31.0/getting_started/backend/_category_.json
  docs/versioned_docs/version-v0.31.0/getting_started/backend/index.md
  docs/versioned_docs/version-v0.31.0/getting_started/barretenberg/index.md
  docs/versioned_docs/version-v0.31.0/getting_started/hello_noir/index.md
  docs/versioned_docs/version-v0.31.0/getting_started/hello_noir/project_breakdown.md
  docs/versioned_docs/version-v0.31.0/getting_started/installation/index.md
  docs/versioned_docs/version-v0.32.0/getting_started/backend/_category_.json
  docs/versioned_docs/version-v0.32.0/getting_started/backend/index.md
  docs/versioned_docs/version-v0.32.0/getting_started/barretenberg/index.md
  docs/versioned_docs/version-v0.32.0/getting_started/hello_noir/index.md
  docs/versioned_docs/version-v0.32.0/getting_started/hello_noir/project_breakdown.md
  docs/versioned_docs/version-v0.32.0/getting_started/installation/index.md
Labels: backend, documentation

#5622 chore(github): Switch to organization-wide Issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: enhancement

#5456 chore(docs): add Writing Noir doc
  cspell.json
  docs/docs/explainers/cspell.json
  docs/docs/explainers/explainer-writing-noir.md
  docs/docs/reference/noir_codegen.md
Labels: documentation
