Repository noir-lang/noir, pull requests merged in 2024-01, with the labels that each got.

#3934 chore: rename "syntax" chapter in docs to "concepts"
  docs/docs/noir/concepts/_category_.json
  docs/docs/noir/concepts/assert.md
  docs/docs/noir/concepts/comments.md
  docs/docs/noir/concepts/control_flow.md
  docs/docs/noir/concepts/data_bus.md
  docs/docs/noir/concepts/data_types/_category_.json
  docs/docs/noir/concepts/data_types/arrays.md
  docs/docs/noir/concepts/data_types/booleans.md
  docs/docs/noir/concepts/data_types/fields.md
  docs/docs/noir/concepts/data_types/function_types.md
  docs/docs/noir/concepts/data_types/index.md
  docs/docs/noir/concepts/data_types/integers.md
  docs/docs/noir/concepts/data_types/references.md
  docs/docs/noir/concepts/data_types/slices.mdx
  docs/docs/noir/concepts/data_types/strings.md
  docs/docs/noir/concepts/data_types/structs.md
  docs/docs/noir/concepts/data_types/tuples.md
  docs/docs/noir/concepts/data_types/vectors.mdx
  docs/docs/noir/concepts/distinct.md
  docs/docs/noir/concepts/functions.md
  docs/docs/noir/concepts/generics.md
  docs/docs/noir/concepts/lambdas.md
  docs/docs/noir/concepts/mutability.md
  docs/docs/noir/concepts/ops.md
  docs/docs/noir/concepts/shadowing.md
  docs/docs/noir/concepts/unconstrained.md
Labels: documentation

#3932 chore: updated ACIR documentation and other docs
  acvm-repo/acir/acir_docs.md
  cspell.json
  docs/docs/getting_started/installation/index.md
  docs/docs/getting_started/tooling/testing.md
  docs/docs/migration_notes.md
  docs/docs/noir/standard_library/logging.md
  docs/versioned_docs/version-v0.17.0/index.md
  docs/versioned_docs/version-v0.17.0/migration_notes.md
  docs/versioned_docs/version-v0.17.0/nargo/02_testing.md
  docs/versioned_docs/version-v0.17.0/standard_library/logging.md
  docs/versioned_docs/version-v0.19.0/index.md
  docs/versioned_docs/version-v0.19.0/migration_notes.md
  docs/versioned_docs/version-v0.19.0/nargo/02_testing.md
  docs/versioned_docs/version-v0.19.0/standard_library/logging.md
  docs/versioned_docs/version-v0.19.1/index.md
  docs/versioned_docs/version-v0.19.1/migration_notes.md
  docs/versioned_docs/version-v0.19.1/nargo/02_testing.md
  docs/versioned_docs/version-v0.19.1/standard_library/logging.md
  docs/versioned_docs/version-v0.19.2/index.md
  docs/versioned_docs/version-v0.19.2/migration_notes.md
  docs/versioned_docs/version-v0.19.2/nargo/02_testing.md
  docs/versioned_docs/version-v0.19.2/standard_library/logging.md
  docs/versioned_docs/version-v0.19.3/index.md
  docs/versioned_docs/version-v0.19.3/migration_notes.md
  docs/versioned_docs/version-v0.19.3/nargo/02_testing.md
  docs/versioned_docs/version-v0.19.3/standard_library/logging.md
  docs/versioned_docs/version-v0.19.4/index.md
  docs/versioned_docs/version-v0.19.4/migration_notes.md
  docs/versioned_docs/version-v0.19.4/nargo/02_testing.md
  docs/versioned_docs/version-v0.19.4/standard_library/logging.md
  docs/versioned_docs/version-v0.22.0/getting_started/tooling/testing.md
  docs/versioned_docs/version-v0.22.0/migration_notes.md
  docs/versioned_docs/version-v0.22.0/noir/standard_library/logging.md
Labels: documentation

#3931 feat: Implement Operator Overloading
  compiler/noirc_frontend/src/hir/resolution/resolver.rs
  compiler/noirc_frontend/src/hir/resolution/traits.rs
  compiler/noirc_frontend/src/hir/type_check/expr.rs
  compiler/noirc_frontend/src/hir/type_check/mod.rs
  compiler/noirc_frontend/src/hir_def/expr.rs
  compiler/noirc_frontend/src/monomorphization/ast.rs
  compiler/noirc_frontend/src/monomorphization/mod.rs
  compiler/noirc_frontend/src/node_interner.rs
  compiler/noirc_frontend/src/tests.rs
  cspell.json
  docs/docs/explanations/standard_library/traits.md
  docs/docs/getting_started/create_a_project.md
  docs/docs/migration_notes.md
  docs/docs/noir/concepts/_category_.json
  docs/docs/noir/concepts/data_types/function_types.md
  docs/docs/noir/concepts/data_types/index.md
  docs/docs/noir/concepts/traits.md
  docs/docs/noir/standard_library/traits.md
  noir_stdlib/src/cmp.nr
  noir_stdlib/src/lib.nr
  noir_stdlib/src/ops.nr
  noir_stdlib/src/prelude.nr
  test_programs/compile_success_empty/impl_with_where_clause/src/main.nr
  test_programs/compile_success_empty/trait_default_implementation/src/main.nr
  test_programs/compile_success_empty/trait_override_implementation/src/main.nr
  test_programs/compile_success_empty/traits/src/main.nr
  test_programs/execution_success/operator_overloading/Nargo.toml
  test_programs/execution_success/operator_overloading/Prover.toml
  test_programs/execution_success/operator_overloading/src/main.nr
  tooling/lsp/src/lib.rs
Labels: documentation

#3980 fix: Update generics docs to mention we have traits now
  docs/docs/noir/concepts/generics.md
Labels: documentation

#3989 chore(docs): small grammar fix on the landing page
  docs/src/pages/index.jsx
Labels: documentation

#3985 chore: improve cspell setup
  CHANGELOG.md
  acvm-repo/CHANGELOG.md
  acvm-repo/acir/CHANGELOG.md
  acvm-repo/acir/acir_docs.md
  acvm-repo/acir/src/native_types/expression/operators.rs
  acvm-repo/acvm/CHANGELOG.md
  aztec_macros/src/lib.rs
  compiler/noirc_evaluator/src/brillig/brillig_ir/entry_point.rs
  compiler/noirc_evaluator/src/ssa/function_builder/data_bus.rs
  compiler/noirc_evaluator/src/ssa/ir/dfg.rs
  compiler/noirc_evaluator/src/ssa/opt/die.rs
  compiler/noirc_evaluator/src/ssa/opt/unrolling.rs
  compiler/noirc_frontend/src/hir/resolution/resolver.rs
  compiler/noirc_frontend/src/hir_def/types.rs
  compiler/utils/iter-extended/src/lib.rs
  cspell.json
  docs/docs/noir/standard_library/traits.md
  package.json
  tooling/backend_interface/CHANGELOG.md
  tooling/backend_interface/src/lib.rs
  tooling/nargo/src/lib.rs
  tooling/noirc_abi/src/input_parser/mod.rs
  yarn.lock
Labels: documentation

#4030 chore(docs): bumping playground version
  docs/package.json
  yarn.lock
Labels: documentation

#4002 chore(docs): documenting reference, how-to and explainer on the usage of oracles
  cspell.json
  docs/docs/explainers/explainer-oracle.md
  docs/docs/how_to/how-to-oracles.md
  docs/docs/noir/concepts/comments.md
  docs/docs/noir/concepts/data_bus.md
  docs/docs/noir/concepts/data_types/function_types.md
  docs/docs/noir/concepts/distinct.md
  docs/docs/noir/concepts/generics.md
  docs/docs/noir/concepts/lambdas.md
  docs/docs/noir/concepts/mutability.md
  docs/docs/noir/concepts/oracles.md
  docs/docs/noir/concepts/shadowing.md
  docs/docs/noir/concepts/traits.md
  docs/docs/reference/NoirJS/backend_barretenberg/index.md
  docs/docs/reference/NoirJS/backend_barretenberg/type-aliases/ProofData.md
  docs/docs/reference/NoirJS/noir_js/type-aliases/ProofData.md
  docs/docs/reference/nargo_commands.md
  docs/package.json
  docs/static/img/memes/matrix_oracle.jpeg
  docs/versioned_docs/version-v0.22.0/explainers/explainer-oracle.md
  docs/versioned_docs/version-v0.22.0/how_to/how-to-oracles.md
  docs/versioned_docs/version-v0.22.0/noir/syntax/data_types/function_types.md
  docs/versioned_docs/version-v0.22.0/noir/syntax/data_types/index.md
  docs/versioned_docs/version-v0.22.0/noir/syntax/oracles.md
  docs/versioned_sidebars/version-v0.22.0-sidebars.json
Labels: documentation

#4018 chore!: Ban nested slices
  compiler/noirc_evaluator/src/errors.rs
  compiler/noirc_evaluator/src/ssa/ssa_gen/mod.rs
  compiler/noirc_frontend/src/hir/resolution/errors.rs
  compiler/noirc_frontend/src/hir/resolution/resolver.rs
  compiler/noirc_frontend/src/hir/resolution/structs.rs
  compiler/noirc_frontend/src/hir_def/types.rs
  docs/docs/noir/concepts/data_types/arrays.md
  test_programs/compile_failure/brillig_nested_slices/Nargo.toml
  test_programs/compile_failure/brillig_nested_slices/Prover.toml
  test_programs/compile_failure/brillig_nested_slices/src/main.nr
  test_programs/compile_failure/nested_slice_declared_type/Nargo.toml
  test_programs/compile_failure/nested_slice_declared_type/src/main.nr
  test_programs/compile_failure/nested_slice_literal/Nargo.toml
  test_programs/compile_failure/nested_slice_literal/src/main.nr
  test_programs/compile_failure/nested_slice_struct/Nargo.toml
  test_programs/compile_failure/nested_slice_struct/src/main.nr
  test_programs/execution_success/brillig_set_slice_of_slice/Nargo.toml
  test_programs/execution_success/brillig_set_slice_of_slice/src/main.nr
  test_programs/execution_success/slice_struct_field/Nargo.toml
  test_programs/execution_success/slice_struct_field/Prover.toml
  test_programs/execution_success/slice_struct_field/src/main.nr
Labels: documentation

#4104 chore(docs): removing oracles from 0.22.0
  .github/workflows/docs-pr.yml
  docs/versioned_docs/version-v0.22.0/explainers/explainer-oracle.md
  docs/versioned_docs/version-v0.22.0/how_to/how-to-oracles.md
  docs/versioned_docs/version-v0.22.0/noir/syntax/oracles.md
Labels: documentation

#3862 chore: Release Noir(0.23.0)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  acvm-repo/CHANGELOG.md
  acvm-repo/acir/Cargo.toml
  acvm-repo/acir_field/Cargo.toml
  acvm-repo/acvm/Cargo.toml
  acvm-repo/acvm_js/Cargo.toml
  acvm-repo/acvm_js/package.json
  acvm-repo/blackbox_solver/Cargo.toml
  acvm-repo/bn254_blackbox_solver/Cargo.toml
  acvm-repo/brillig/Cargo.toml
  acvm-repo/brillig_vm/Cargo.toml
  compiler/wasm/package.json
  flake.nix
  tooling/noir_codegen/package.json
  tooling/noir_js/package.json
  tooling/noir_js_backend_barretenberg/package.json
  tooling/noir_js_types/package.json
  tooling/noirc_abi_wasm/package.json
  yarn.lock
Labels: autorelease: pending, documentation

#4047 fix: save the data bus to the current function before generating others
  compiler/noirc_evaluator/src/ssa/ssa_gen/mod.rs
  test_programs/execution_success/databus/src/main.nr
Labels: bug, debugger

#4108 chore: move comments into doc comments in `noir_js_backend_barretenberg`
  tooling/noir_js_backend_barretenberg/src/index.ts
Labels: documentation

#4111 chore(docs): fix dead links
  docs/docs/how_to/how-to-oracles.md
  docs/docs/how_to/how-to-recursion.md
  docs/docs/noir/standard_library/cryptographic_primitives/ec_primitives.md
  docs/docs/tutorials/noirjs_app.md
  docs/versioned_docs/version-v0.17.0/getting_started/01_hello_world.md
  docs/versioned_docs/version-v0.17.0/language_concepts/06_generics.md
  docs/versioned_docs/version-v0.17.0/noir_js/getting_started/01_tiny_noir_app.md
  docs/versioned_docs/version-v0.17.0/standard_library/cryptographic_primitives/04_ec_primitives.md
  docs/versioned_docs/version-v0.19.0/getting_started/01_hello_world.md
  docs/versioned_docs/version-v0.19.0/noir_js/getting_started/01_tiny_noir_app.md
  docs/versioned_docs/version-v0.19.0/standard_library/cryptographic_primitives/04_ec_primitives.md
  docs/versioned_docs/version-v0.19.1/getting_started/01_hello_world.md
  docs/versioned_docs/version-v0.19.1/language_concepts/06_generics.md
  docs/versioned_docs/version-v0.19.1/noir_js/getting_started/01_tiny_noir_app.md
  docs/versioned_docs/version-v0.19.1/standard_library/cryptographic_primitives/04_ec_primitives.md
  docs/versioned_docs/version-v0.19.2/getting_started/01_hello_world.md
  docs/versioned_docs/version-v0.19.2/language_concepts/06_generics.md
  docs/versioned_docs/version-v0.19.2/noir_js/getting_started/01_tiny_noir_app.md
  docs/versioned_docs/version-v0.19.2/standard_library/cryptographic_primitives/04_ec_primitives.md
  docs/versioned_docs/version-v0.19.3/getting_started/01_hello_world.md
  docs/versioned_docs/version-v0.19.3/language_concepts/06_generics.md
  docs/versioned_docs/version-v0.19.3/noir_js/getting_started/01_tiny_noir_app.md
  docs/versioned_docs/version-v0.19.3/standard_library/cryptographic_primitives/04_ec_primitives.md
  docs/versioned_docs/version-v0.19.4/getting_started/01_hello_world.md
  docs/versioned_docs/version-v0.19.4/language_concepts/06_generics.md
  docs/versioned_docs/version-v0.19.4/noir_js/getting_started/01_tiny_noir_app.md
  docs/versioned_docs/version-v0.19.4/standard_library/cryptographic_primitives/04_ec_primitives.md
  docs/versioned_docs/version-v0.22.0/how_to/how-to-recursion.md
  docs/versioned_docs/version-v0.22.0/noir/standard_library/cryptographic_primitives/ec_primitives.md
  docs/versioned_docs/version-v0.22.0/noir/syntax/generics.md
  docs/versioned_docs/version-v0.22.0/tutorials/noirjs_app.md
Labels: documentation

#4133 chore: convert vec references to slices
  acvm-repo/brillig_vm/src/lib.rs
  acvm-repo/brillig_vm/src/memory.rs
  compiler/noirc_driver/src/abi_gen.rs
  compiler/noirc_evaluator/src/ssa/acir_gen/acir_ir/acir_variable.rs
  compiler/noirc_frontend/src/ast/function.rs
  compiler/noirc_frontend/src/hir/def_collector/dc_crate.rs
  compiler/noirc_frontend/src/hir/type_check/expr.rs
  tooling/nargo/src/ops/foreign_calls.rs
Labels: enhancement

#4164 chore: integrate code snippets script into docs
  .github/workflows/docs-pr.yml
  docs/.gitignore
  docs/docs/noir/standard_library/cryptographic_primitives/hashes.mdx
  docs/docs/noir/standard_library/traits.md
  docs/docusaurus.config.ts
  docs/package.json
  docs/scripts/preprocess/include_code.js
  docs/scripts/preprocess/index.js
  noir_stdlib/src/cmp.nr
  noir_stdlib/src/ops.nr
  test_programs/execution_success/keccak256/src/main.nr
  test_programs/execution_success/pedersen_commitment/Nargo.toml
  test_programs/execution_success/pedersen_commitment/Prover.toml
  test_programs/execution_success/pedersen_commitment/src/main.nr
  test_programs/execution_success/pedersen_hash/Nargo.toml
  test_programs/execution_success/pedersen_hash/Prover.toml
  test_programs/execution_success/pedersen_hash/src/main.nr
  test_programs/execution_success/poseidon_bn254_hash/src/main.nr
Labels: documentation

#4178 fix: Update array method type signatures in the docs
  docs/docs/noir/concepts/data_types/arrays.md
Labels: documentation

#4181 chore: pull in `Default` trait definition through a snippet
  docs/docs/noir/standard_library/traits.md
  noir_stdlib/src/default.nr
Labels: documentation

#4182 chore(docs): document `From` and `Into` traits
  cspell.json
  docs/docs/noir/standard_library/traits.md
  noir_stdlib/src/convert.nr
Labels: documentation

#4175 chore(docs): update hashes page to pull in code
  docs/docs/noir/standard_library/black_box_fns.md
  docs/docs/noir/standard_library/cryptographic_primitives/ecdsa_sig_verification.mdx
  docs/docs/noir/standard_library/cryptographic_primitives/hashes.mdx
  docs/docs/noir/standard_library/cryptographic_primitives/scalar.mdx
  docs/docs/noir/standard_library/cryptographic_primitives/schnorr.mdx
  noir_stdlib/src/ecdsa_secp256k1.nr
  noir_stdlib/src/ecdsa_secp256r1.nr
  noir_stdlib/src/hash.nr
  noir_stdlib/src/scalar_mul.nr
  noir_stdlib/src/schnorr.nr
Labels: documentation

#4183 fix(docs): codegen docs before cutting a new version
  .github/workflows/release.yml
  docs/package.json
Labels: documentation

#4186 chore(docs): stop committing codegenned docs
  docs/docs/reference/NoirJS/backend_barretenberg/.nojekyll
  docs/docs/reference/NoirJS/backend_barretenberg/classes/BarretenbergBackend.md
  docs/docs/reference/NoirJS/backend_barretenberg/index.md
  docs/docs/reference/NoirJS/backend_barretenberg/interfaces/Backend.md
  docs/docs/reference/NoirJS/backend_barretenberg/type-aliases/BackendOptions.md
  docs/docs/reference/NoirJS/backend_barretenberg/type-aliases/CompiledCircuit.md
  docs/docs/reference/NoirJS/backend_barretenberg/type-aliases/ProofData.md
  docs/docs/reference/NoirJS/backend_barretenberg/typedoc-sidebar.cjs
  docs/docs/reference/NoirJS/noir_js/.nojekyll
  docs/docs/reference/NoirJS/noir_js/classes/Noir.md
  docs/docs/reference/NoirJS/noir_js/functions/and.md
  docs/docs/reference/NoirJS/noir_js/functions/blake2s256.md
  docs/docs/reference/NoirJS/noir_js/functions/ecdsa_secp256k1_verify.md
  docs/docs/reference/NoirJS/noir_js/functions/ecdsa_secp256r1_verify.md
  docs/docs/reference/NoirJS/noir_js/functions/keccak256.md
  docs/docs/reference/NoirJS/noir_js/functions/sha256.md
  docs/docs/reference/NoirJS/noir_js/functions/xor.md
  docs/docs/reference/NoirJS/noir_js/index.md
  docs/docs/reference/NoirJS/noir_js/type-aliases/CompiledCircuit.md
  docs/docs/reference/NoirJS/noir_js/type-aliases/ForeignCallHandler.md
  docs/docs/reference/NoirJS/noir_js/type-aliases/ForeignCallInput.md
  docs/docs/reference/NoirJS/noir_js/type-aliases/ForeignCallOutput.md
  docs/docs/reference/NoirJS/noir_js/type-aliases/InputMap.md
  docs/docs/reference/NoirJS/noir_js/type-aliases/ProofData.md
  docs/docs/reference/NoirJS/noir_js/type-aliases/WitnessMap.md
  docs/docs/reference/NoirJS/noir_js/typedoc-sidebar.cjs
  docs/docusaurus.config.ts
Labels: documentation

#4187 chore(docs): updating docs to match new recursion interfacee
  docs/docs/explainers/explainer-recursion.md
  docs/docs/how_to/how-to-recursion.md
  docs/docs/noir/standard_library/recursion.md
  docs/versioned_docs/version-v0.23.0/explainers/explainer-recursion.md
  docs/versioned_docs/version-v0.23.0/how_to/how-to-recursion.md
  docs/versioned_docs/version-v0.23.0/noir/standard_library/recursion.md
Labels: documentation
