Repository noir-lang/noir, pull requests merged in 2024-03, with the labels that each got.

#3926 feat: backpropagate constants in ACIR during optimization
  acvm-repo/acir/src/circuit/opcodes/black_box_function_call.rs
  acvm-repo/acvm/src/compiler/optimizers/constant_backpropagation.rs
  acvm-repo/acvm/src/compiler/optimizers/general.rs
  acvm-repo/acvm/src/compiler/optimizers/mod.rs
  acvm-repo/acvm/src/pwg/arithmetic.rs
  acvm-repo/acvm/src/pwg/blackbox/mod.rs
  acvm-repo/acvm/src/pwg/blackbox/range.rs
  acvm-repo/acvm/src/pwg/brillig.rs
  acvm-repo/acvm/src/pwg/directives/mod.rs
  acvm-repo/acvm/src/pwg/memory_op.rs
  acvm-repo/acvm/src/pwg/mod.rs
  cspell.json
Labels: documentation

#4471 chore: Capitalize containers section in docs
  docs/docs/noir/standard_library/containers/index.md
Labels: documentation

#4473 feat: Add eddsa_poseidon_to_pub function to stdlib with test + docs
  docs/docs/noir/standard_library/cryptographic_primitives/eddsa.mdx
  noir_stdlib/src/eddsa.nr
  test_programs/execution_success/eddsa/src/main.nr
Labels: enhancement, documentation

#4499 fix: handling of gh deps in noir_wasm
  compiler/wasm/src/noir/package.ts
Labels: bug

#4440 chore: custom hash for eddsa
  docs/docs/noir/standard_library/cryptographic_primitives/eddsa.mdx
  noir_stdlib/src/eddsa.nr
  noir_stdlib/src/hash/mimc.nr
  noir_stdlib/src/hash/poseidon.nr
  noir_stdlib/src/hash/poseidon2.nr
  test_programs/execution_success/eddsa/src/main.nr
  test_programs/execution_success/poseidon_bn254_hash/src/main.nr
Labels: documentation

#4457 chore: Add HashMap docs
  docs/docs/noir/standard_library/containers/hashmap.md
  noir_stdlib/src/collections/map.nr
  test_programs/execution_success/hashmap/src/main.nr
  test_programs/execution_success/hashmap/src/utils.nr
Labels: documentation

#4487 chore: document big integers
  cspell.json
  docs/.markdownlint.json
  docs/docs/noir/standard_library/bigint.md
  noir_stdlib/src/bigint.nr
  test_programs/execution_success/bigint/src/main.nr
Labels: documentation

#4556 chore: fixing some broken links
  docs/docs/noir/standard_library/black_box_fns.md
  docs/versioned_docs/version-v0.24.0/noir/standard_library/black_box_fns.md
  docs/versioned_docs/version-v0.25.0/noir/standard_library/black_box_fns.md
Labels: documentation

#4568 chore: making docs build before cutting versions
  docs/package.json
  docs/versioned_docs/version-v0.25.0/reference/NoirJS/backend_barretenberg/.nojekyll
  docs/versioned_docs/version-v0.25.0/reference/NoirJS/backend_barretenberg/classes/BarretenbergBackend.md
  docs/versioned_docs/version-v0.25.0/reference/NoirJS/backend_barretenberg/index.md
  docs/versioned_docs/version-v0.25.0/reference/NoirJS/backend_barretenberg/interfaces/Backend.md
  docs/versioned_docs/version-v0.25.0/reference/NoirJS/backend_barretenberg/type-aliases/BackendOptions.md
  docs/versioned_docs/version-v0.25.0/reference/NoirJS/backend_barretenberg/type-aliases/CompiledCircuit.md
  docs/versioned_docs/version-v0.25.0/reference/NoirJS/backend_barretenberg/type-aliases/ProofData.md
  docs/versioned_docs/version-v0.25.0/reference/NoirJS/backend_barretenberg/typedoc-sidebar.cjs
  docs/versioned_docs/version-v0.25.0/reference/NoirJS/noir_js/.nojekyll
  docs/versioned_docs/version-v0.25.0/reference/NoirJS/noir_js/classes/Noir.md
  docs/versioned_docs/version-v0.25.0/reference/NoirJS/noir_js/functions/and.md
  docs/versioned_docs/version-v0.25.0/reference/NoirJS/noir_js/functions/blake2s256.md
  docs/versioned_docs/version-v0.25.0/reference/NoirJS/noir_js/functions/ecdsa_secp256k1_verify.md
  docs/versioned_docs/version-v0.25.0/reference/NoirJS/noir_js/functions/ecdsa_secp256r1_verify.md
  docs/versioned_docs/version-v0.25.0/reference/NoirJS/noir_js/functions/keccak256.md
  docs/versioned_docs/version-v0.25.0/reference/NoirJS/noir_js/functions/sha256.md
  docs/versioned_docs/version-v0.25.0/reference/NoirJS/noir_js/functions/xor.md
  docs/versioned_docs/version-v0.25.0/reference/NoirJS/noir_js/index.md
  docs/versioned_docs/version-v0.25.0/reference/NoirJS/noir_js/type-aliases/CompiledCircuit.md
  docs/versioned_docs/version-v0.25.0/reference/NoirJS/noir_js/type-aliases/ForeignCallHandler.md
  docs/versioned_docs/version-v0.25.0/reference/NoirJS/noir_js/type-aliases/ForeignCallInput.md
  docs/versioned_docs/version-v0.25.0/reference/NoirJS/noir_js/type-aliases/ForeignCallOutput.md
  docs/versioned_docs/version-v0.25.0/reference/NoirJS/noir_js/type-aliases/InputMap.md
  docs/versioned_docs/version-v0.25.0/reference/NoirJS/noir_js/type-aliases/ProofData.md
  docs/versioned_docs/version-v0.25.0/reference/NoirJS/noir_js/type-aliases/WitnessMap.md
  docs/versioned_docs/version-v0.25.0/reference/NoirJS/noir_js/typedoc-sidebar.cjs
  docs/versioned_docs/version-v0.25.0/reference/NoirJS/noir_wasm/.nojekyll
  docs/versioned_docs/version-v0.25.0/reference/NoirJS/noir_wasm/functions/compile.md
  docs/versioned_docs/version-v0.25.0/reference/NoirJS/noir_wasm/functions/compile_contract.md
  docs/versioned_docs/version-v0.25.0/reference/NoirJS/noir_wasm/functions/createFileManager.md
  docs/versioned_docs/version-v0.25.0/reference/NoirJS/noir_wasm/functions/inflateDebugSymbols.md
  docs/versioned_docs/version-v0.25.0/reference/NoirJS/noir_wasm/index.md
  docs/versioned_docs/version-v0.25.0/reference/NoirJS/noir_wasm/typedoc-sidebar.cjs
Labels: documentation

#4569 feat: Add `break` and `continue` in unconstrained code
  compiler/noirc_evaluator/src/ssa/function_builder/mod.rs
  compiler/noirc_evaluator/src/ssa/ir/cfg.rs
  compiler/noirc_evaluator/src/ssa/opt/inlining.rs
  compiler/noirc_evaluator/src/ssa/ssa_gen/context.rs
  compiler/noirc_evaluator/src/ssa/ssa_gen/mod.rs
  compiler/noirc_frontend/src/ast/statement.rs
  compiler/noirc_frontend/src/hir/resolution/errors.rs
  compiler/noirc_frontend/src/hir/resolution/resolver.rs
  compiler/noirc_frontend/src/hir/type_check/stmt.rs
  compiler/noirc_frontend/src/hir_def/stmt.rs
  compiler/noirc_frontend/src/lexer/token.rs
  compiler/noirc_frontend/src/monomorphization/ast.rs
  compiler/noirc_frontend/src/monomorphization/mod.rs
  compiler/noirc_frontend/src/monomorphization/printer.rs
  compiler/noirc_frontend/src/parser/parser.rs
  compiler/noirc_frontend/src/tests.rs
  docs/docs/noir/concepts/control_flow.md
  docs/docs/noir/concepts/unconstrained.md
  noir_stdlib/src/collections/map.nr
  test_programs/execution_success/break_and_continue/Nargo.toml
  test_programs/execution_success/break_and_continue/src/main.nr
  tooling/nargo_fmt/src/visitor/stmt.rs
Labels: documentation

#4583 chore: Standardise workspace JS dependencies
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarnrc.yml
  acvm-repo/acvm_js/package.json
  compiler/integration-tests/package.json
  compiler/wasm/package.json
  docs/package.json
  package.json
  tooling/noir_codegen/package.json
  tooling/noir_js/package.json
  tooling/noir_js_backend_barretenberg/package.json
  tooling/noir_js_backend_barretenberg/tsconfig.cjs.json
  tooling/noir_js_types/package.json
  tooling/noirc_abi_wasm/package.json
  yarn.lock
Labels: documentation

#4593 chore: fix docs builds on master
  docs/package.json
Labels: documentation

#4526 chore: Release Noir(0.26.0)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  acvm-repo/CHANGELOG.md
  acvm-repo/acir/Cargo.toml
  acvm-repo/acir_field/Cargo.toml
  acvm-repo/acvm/Cargo.toml
  acvm-repo/acvm_js/Cargo.toml
  acvm-repo/acvm_js/package.json
  acvm-repo/blackbox_solver/Cargo.toml
  acvm-repo/brillig/Cargo.toml
  acvm-repo/brillig_vm/Cargo.toml
  compiler/wasm/package.json
  flake.nix
  tooling/noir_codegen/package.json
  tooling/noir_js/package.json
  tooling/noir_js_backend_barretenberg/package.json
  tooling/noir_js_types/package.json
  tooling/noirc_abi_wasm/package.json
Labels: autorelease: pending, documentation
