Repository noir-lang/noir, pull requests merged in 2025-02, with the labels that each got.

#7238 chore: redo typo PR by osrm
  docs/docs/how_to/debugger/debugging_with_vs_code.md
  docs/docs/noir/modules_packages_crates/crates_and_packages.md
  docs/docs/noir/modules_packages_crates/workspaces.md
  docs/docs/noir/standard_library/is_unconstrained.md
  docs/versioned_docs/version-v0.36.0/getting_started/quick_start.md
  docs/versioned_docs/version-v0.36.0/how_to/debugger/debugging_with_vs_code.md
  docs/versioned_docs/version-v0.36.0/noir/modules_packages_crates/workspaces.md
  docs/versioned_docs/version-v0.36.0/noir/standard_library/mem.md
  docs/versioned_docs/version-v1.0.0-beta.1/explainers/explainer-writing-noir.md
Labels: documentation

#7358 feat: `FunctionDefinition::as_typed_expr`
  compiler/noirc_frontend/src/elaborator/patterns.rs
  compiler/noirc_frontend/src/hir/comptime/interpreter/builtin.rs
  compiler/noirc_frontend/src/hir/comptime/value.rs
  compiler/noirc_frontend/src/lexer/token.rs
  docs/docs/noir/standard_library/meta/function_def.md
  noir_stdlib/src/meta/function_def.nr
  test_programs/compile_success_empty/comptime_function_definition/src/main.nr
Labels: documentation

#7370 chore: update docs about integer overflows
  docs/docs/noir/concepts/data_types/integers.md
Labels: documentation

#7399 chore: allow opting in to displaying benchmark comments
  .github/workflows/reports.yml
  .github/workflows/test-js-packages.yml
Labels: bench-show

#7400 chore: box `Closure` in `comptime::Value` enum
  compiler/noirc_frontend/src/hir/comptime/interpreter.rs
  compiler/noirc_frontend/src/hir/comptime/value.rs
Labels: bench-show

#7411 feat!: remove bigint from stdlib
  docs/docs/noir/standard_library/bigint.md
  noir_stdlib/src/bigint.nr
  noir_stdlib/src/lib.nr
  test_programs/execution_failure/bigint_from_too_many_le_bytes/Nargo.toml
  test_programs/execution_failure/bigint_from_too_many_le_bytes/src/main.nr
  test_programs/execution_success/bigint/Nargo.toml
  test_programs/execution_success/bigint/Prover.toml
  test_programs/execution_success/bigint/src/main.nr
  test_programs/noir_test_success/comptime_blackbox/src/main.nr
Labels: documentation

#7396 fix(ssa): Accurately mark binary ops for hoisting and check Div/Mod against induction variable lower bound
  compiler/noirc_evaluator/src/ssa/opt/loop_invariant.rs
  test_programs/execution_success/loop_invariant_regression/src/main.nr
Labels: bench-show

#7277 fix(brillig): Brillig entry point analysis and function specialization through duplication
  .github/benchmark_projects.yml
  compiler/noirc_evaluator/src/brillig/brillig_gen/brillig_globals.rs
  compiler/noirc_evaluator/src/brillig/mod.rs
  compiler/noirc_evaluator/src/ssa.rs
  compiler/noirc_evaluator/src/ssa/opt/brillig_entry_points.rs
  compiler/noirc_evaluator/src/ssa/opt/mod.rs
  test_programs/execution_success/global_var_entry_point_used_in_another_entry/Nargo.toml
  test_programs/execution_success/global_var_entry_point_used_in_another_entry/Prover.toml
  test_programs/execution_success/global_var_entry_point_used_in_another_entry/src/main.nr
  test_programs/execution_success/global_var_func_with_multiple_entry_points/Nargo.toml
  test_programs/execution_success/global_var_func_with_multiple_entry_points/Prover.toml
  test_programs/execution_success/global_var_func_with_multiple_entry_points/src/main.nr
  test_programs/execution_success/global_var_multiple_entry_points_nested/Nargo.toml
  test_programs/execution_success/global_var_multiple_entry_points_nested/Prover.toml
  test_programs/execution_success/global_var_multiple_entry_points_nested/src/main.nr
  test_programs/execution_success/global_var_regression_entry_points/src/consts.nr
Labels: bench-show

#7405 chore(docs): updating tutorials and other nits to beta.2
  docs/docs/how_to/using-devcontainers.mdx
  docs/docs/noir/concepts/assert.md
  docs/docs/noir/concepts/control_flow.md
  docs/docs/tutorials/noirjs_app.md
  docs/versioned_docs/version-v1.0.0-beta.2/how_to/using-devcontainers.mdx
  docs/versioned_docs/version-v1.0.0-beta.2/noir/concepts/assert.md
  docs/versioned_docs/version-v1.0.0-beta.2/noir/concepts/control_flow.md
  docs/versioned_docs/version-v1.0.0-beta.2/tutorials/noirjs_app.md
Labels: documentation

#7366 chore: Add SSA security checks description
  docs/docs/tooling/cspell.json
  docs/docs/tooling/security.md
Labels: documentation

#7458 chore: Copy #7387 docs into v1.0.0-beta.2 versioned_docs
  docs/versioned_docs/version-v1.0.0-beta.2/noir/concepts/traits.md
Labels: documentation

#7457 chore(docs): Noir Profiler external documentation
  docs/docs/tooling/cspell.json
  docs/docs/tooling/profiler.md
  docs/static/img/tooling/profiler/acir-flamegraph-optimized.png
  docs/static/img/tooling/profiler/acir-flamegraph-unoptimized.png
  docs/static/img/tooling/profiler/gates-flamegraph-optimized-2048.png
  docs/static/img/tooling/profiler/gates-flamegraph-optimized.png
  docs/static/img/tooling/profiler/gates-flamegraph-unoptimized-2048.png
  docs/static/img/tooling/profiler/gates-flamegraph-unoptimized.png
Labels: documentation

#7481 chore(docs): Profiler images reference
  docs/docs/tooling/profiler.md
  docs/versioned_docs/version-v1.0.0-beta.3/tooling/profiler.md
Labels: documentation

#7480 chore(docs): Section on `noir-profiler execution-opcodes`
  docs/docs/tooling/profiler.md
  docs/static/img/tooling/profiler/brillig-trace-initial-32.png
  docs/static/img/tooling/profiler/brillig-trace-opt-32.png
Labels: documentation

#7508 chore(docs): Supplement docs on `modexp` as a required precompile for Barretenberg's Solidity verifier
  docs/docs/how_to/how-to-solidity-verifier.mdx
  docs/versioned_docs/version-v1.0.0-beta.2/how_to/how-to-solidity-verifier.mdx
  docs/versioned_docs/version-v1.0.0-beta.3/how_to/how-to-solidity-verifier.mdx
Labels: backend, documentation

#7529 chore!: remove U128 struct from stdlib
  docs/docs/noir/concepts/data_types/integers.md
  docs/docs/noir/standard_library/traits.md
  noir_stdlib/src/hash/mod.nr
  noir_stdlib/src/lib.nr
  noir_stdlib/src/prelude.nr
  noir_stdlib/src/uint128.nr
  test_programs/compile_success_empty/comptime_as_field/src/main.nr
  test_programs/compile_success_empty/comptime_as_primitive/Nargo.toml
  test_programs/compile_success_empty/comptime_as_primitive/src/main.nr
  test_programs/compile_success_empty/comptime_from_field/Nargo.toml
  test_programs/compile_success_empty/comptime_from_field/src/main.nr
  test_programs/execution_success/u128/Nargo.toml
  test_programs/execution_success/u128/Prover.toml
  test_programs/execution_success/u128/src/main.nr
  test_programs/noir_test_success/global_eval/src/main.nr
Labels: documentation

#7551 feat: Support `<Type as Trait>::method` in expressions
  compiler/noirc_frontend/src/elaborator/expressions.rs
  compiler/noirc_frontend/src/hir/resolution/errors.rs
  compiler/noirc_frontend/src/node_interner.rs
  compiler/noirc_frontend/src/tests/traits.rs
  docs/docs/noir/concepts/traits.md
Labels: documentation
