Repository noir-lang/noir, pull requests merged in 2025-07, with the labels that each got.

#9156 feat(fuzz): Use `Slice` in the AST generator
  compiler/noirc_frontend/src/monomorphization/printer.rs
  tooling/ast_fuzzer/fuzz/src/targets/comptime_vs_brillig_direct.rs
  tooling/ast_fuzzer/fuzz/src/targets/orig_vs_morph.rs
  tooling/ast_fuzzer/src/lib.rs
  tooling/ast_fuzzer/src/program/expr.rs
  tooling/ast_fuzzer/src/program/func.rs
  tooling/ast_fuzzer/src/program/mod.rs
  tooling/ast_fuzzer/src/program/rewrite/limit.rs
  tooling/ast_fuzzer/src/program/types.rs
Labels: Blocked

#9072 fix(fuzz): Do not access arrays with `&mut` inside `if` using dynamic condition
  compiler/noirc_evaluator/src/ssa/mod.rs
  compiler/noirc_evaluator/src/ssa/opt/die.rs
  tooling/ast_fuzzer/src/program/func.rs
Labels: Blocked

#9169 chore(docs): add forgotten import to RPC example
  docs/docs/tooling/fuzzer.md
Labels: documentation

#9219 feat: Add `compiler_unstable_features` to `Nargo.toml`
  compiler/noirc_driver/src/lib.rs
  compiler/noirc_frontend/src/elaborator/comptime.rs
  compiler/noirc_frontend/src/elaborator/mod.rs
  compiler/noirc_frontend/src/elaborator/options.rs
  compiler/noirc_frontend/src/hir/def_collector/dc_crate.rs
  compiler/noirc_frontend/src/hir/mod.rs
  docs/docs/getting_started/project_breakdown.md
  docs/versioned_docs/version-v1.0.0-beta.5/reference/nargo_commands.md
  tooling/lsp/src/lib.rs
  tooling/nargo/src/lib.rs
  tooling/nargo/src/package.rs
  tooling/nargo_cli/tests/stdlib-tests.rs
  tooling/nargo_toml/src/lib.rs
  tooling/nargo_toml/src/semver.rs
Labels: documentation

#9300 chore: Add fmtstr to coercions list
  docs/docs/noir/concepts/data_types/coercions.md
  docs/versioned_docs/version-v1.0.0-beta.8/noir/concepts/data_types/coercions.md
Labels: documentation

#9328 fix: substitute bindings in type before canonicalization
  compiler/noirc_frontend/src/elaborator/types.rs
  compiler/noirc_frontend/src/hir/comptime/interpreter.rs
  compiler/noirc_frontend/src/hir_def/types.rs
  compiler/noirc_frontend/src/hir_def/types/arithmetic.rs
  compiler/noirc_frontend/src/hir_def/types/unification.rs
  compiler/noirc_frontend/src/monomorphization/mod.rs
Labels: bench-show

#9167 fix: handle short-syntax for trait constraints on trait generics
  compiler/noirc_frontend/src/hir/def_collector/dc_mod.rs
  compiler/noirc_frontend/src/tests/traits.rs
  test_programs/compile_success_no_bug/noirc_frontend_tests_traits_short_syntax_for_trait_constraint_on_trait_generic/Nargo.toml
  test_programs/compile_success_no_bug/noirc_frontend_tests_traits_short_syntax_for_trait_constraint_on_trait_generic/src/main.nr
  test_programs/compile_success_no_bug/noirc_frontend_tests_traits_short_syntax_for_trait_constraint_on_trait_generic/src_hash.txt
  tooling/nargo_cli/tests/snapshots/compile_success_no_bug/noirc_frontend_tests_traits_short_syntax_for_trait_constraint_on_trait_generic/execute__tests__expanded.snap
Labels: Blocked

#9348 fix: modulo overflow in comptime
  compiler/noirc_evaluator/src/ssa/interpreter/mod.rs
  compiler/noirc_evaluator/src/ssa/interpreter/tests/instructions.rs
  compiler/noirc_evaluator/src/ssa/parser/mod.rs
  compiler/noirc_frontend/src/hir/comptime/interpreter/infix.rs
  compiler/noirc_frontend/src/signed_field.rs
  docs/docs/noir/concepts/ops.md
Labels: documentation

#9361 chore(docs): Add example for `$crate` in docs
  docs/docs/noir/concepts/comptime.md
Labels: documentation
