Repository noir-lang/noir, pull requests merged in 2025-05, with the labels that each got.

#8298 fix(ssa): Remove unused calls to pure functions
  compiler/noirc_evaluator/src/ssa.rs
  compiler/noirc_evaluator/src/ssa/opt/die.rs
Labels: bench-show

#8390 feat(greybox_fuzzer): Maximum executions parameter added
  docs/docs/tooling/fuzzing.md
  tooling/greybox_fuzzer/src/lib.rs
  tooling/nargo/src/ops/fuzz.rs
  tooling/nargo_cli/src/cli/fuzz_cmd.rs
  tooling/nargo_cli/src/cli/test_cmd.rs
Labels: documentation

#8432 feat(greybox_fuzzer): Parallel fuzz tests
  EXTERNAL_NOIR_LIBRARIES.yml
  docs/docs/tooling/testing.md
  tooling/nargo_cli/src/cli/test_cmd.rs
Labels: documentation

#8437 fix: always type-check turbofish, and error when it's not allowed
  compiler/noirc_frontend/src/ast/statement.rs
  compiler/noirc_frontend/src/elaborator/comptime.rs
  compiler/noirc_frontend/src/elaborator/enums.rs
  compiler/noirc_frontend/src/elaborator/expressions.rs
  compiler/noirc_frontend/src/elaborator/mod.rs
  compiler/noirc_frontend/src/elaborator/path_resolution.rs
  compiler/noirc_frontend/src/elaborator/patterns.rs
  compiler/noirc_frontend/src/elaborator/scope.rs
  compiler/noirc_frontend/src/elaborator/statements.rs
  compiler/noirc_frontend/src/elaborator/types.rs
  compiler/noirc_frontend/src/hir/comptime/interpreter/builtin.rs
  compiler/noirc_frontend/src/hir/def_collector/errors.rs
  compiler/noirc_frontend/src/hir/resolution/errors.rs
  compiler/noirc_frontend/src/hir/resolution/import.rs
  compiler/noirc_frontend/src/hir_def/types.rs
  test_programs/compile_failure/associated_constants_do_not_accept_turbofish/Nargo.toml
  test_programs/compile_failure/associated_constants_do_not_accept_turbofish/src/main.nr
  test_programs/compile_failure/associated_constants_do_not_accept_turbofish/stderr.txt
  test_programs/compile_failure/globals_do_not_accept_turbofish/Nargo.toml
  test_programs/compile_failure/globals_do_not_accept_turbofish/src/main.nr
  test_programs/compile_failure/globals_do_not_accept_turbofish/stderr.txt
  test_programs/compile_failure/local_variables_do_not_accept_turbofish/Nargo.toml
  test_programs/compile_failure/local_variables_do_not_accept_turbofish/src/main.nr
  test_programs/compile_failure/local_variables_do_not_accept_turbofish/stderr.txt
  test_programs/compile_failure/turbofish_after_self_not_allowed/Nargo.toml
  test_programs/compile_failure/turbofish_after_self_not_allowed/src/main.nr
  test_programs/compile_failure/turbofish_after_self_not_allowed/stderr.txt
  tooling/nargo_cli/build.rs
Labels: bench-show

#8460 feat: `#[test(only_fail_with = "...")]`
  compiler/noirc_frontend/src/hir/def_collector/dc_mod.rs
  compiler/noirc_frontend/src/hir/def_collector/errors.rs
  compiler/noirc_frontend/src/hir/def_map/mod.rs
  compiler/noirc_frontend/src/lexer/token.rs
  compiler/noirc_frontend/src/parser/labels.rs
  compiler/noirc_frontend/src/parser/parser.rs
  compiler/noirc_frontend/src/parser/parser/attributes.rs
  docs/docs/tooling/testing.md
  test_programs/compile_failure/test_and_fuzz_attribute_errors/Nargo.toml
  test_programs/compile_failure/test_and_fuzz_attribute_errors/src/main.nr
  test_programs/compile_failure/test_and_fuzz_attribute_errors/stderr.txt
  tooling/nargo/src/ops/test.rs
  tooling/nargo_fmt/src/formatter/attribute.rs
Labels: documentation

#8470 feat: primitive types are no longer keywords
  .github/benchmark_projects.yml
  EXTERNAL_NOIR_LIBRARIES.yml
  compiler/noirc_frontend/src/ast/expression.rs
  compiler/noirc_frontend/src/ast/mod.rs
  compiler/noirc_frontend/src/ast/visitor.rs
  compiler/noirc_frontend/src/elaborator/enums.rs
  compiler/noirc_frontend/src/elaborator/mod.rs
  compiler/noirc_frontend/src/elaborator/path_resolution.rs
  compiler/noirc_frontend/src/elaborator/patterns.rs
  compiler/noirc_frontend/src/elaborator/primitive_types.rs
  compiler/noirc_frontend/src/elaborator/scope.rs
  compiler/noirc_frontend/src/elaborator/types.rs
  compiler/noirc_frontend/src/hir/comptime/display.rs
  compiler/noirc_frontend/src/hir/comptime/hir_to_display_ast.rs
  compiler/noirc_frontend/src/hir/comptime/interpreter/builtin.rs
  compiler/noirc_frontend/src/hir/def_collector/dc_mod.rs
  compiler/noirc_frontend/src/hir/resolution/import.rs
  compiler/noirc_frontend/src/hir/type_check/generics.rs
  compiler/noirc_frontend/src/lexer/lexer.rs
  compiler/noirc_frontend/src/lexer/token.rs
  compiler/noirc_frontend/src/parser/errors.rs
  compiler/noirc_frontend/src/parser/parser.rs
  compiler/noirc_frontend/src/parser/parser/enums.rs
  compiler/noirc_frontend/src/parser/parser/expression.rs
  compiler/noirc_frontend/src/parser/parser/function.rs
  compiler/noirc_frontend/src/parser/parser/generics.rs
  compiler/noirc_frontend/src/parser/parser/global.rs
  compiler/noirc_frontend/src/parser/parser/impls.rs
  compiler/noirc_frontend/src/parser/parser/pattern.rs
  compiler/noirc_frontend/src/parser/parser/structs.rs
  compiler/noirc_frontend/src/parser/parser/type_alias.rs
  compiler/noirc_frontend/src/parser/parser/type_expression.rs
  compiler/noirc_frontend/src/parser/parser/types.rs
  compiler/noirc_frontend/src/tests.rs
  test_programs/compile_failure/generics_on_integer_type/Nargo.toml
  test_programs/compile_failure/generics_on_integer_type/src/main.nr
  test_programs/compile_failure/generics_on_integer_type/stderr.txt
  test_programs/compile_failure/noirc_frontend_tests_do_not_infer_globals_to_u32_from_type_use/stderr.txt
  test_programs/compile_failure/noirc_frontend_tests_errors_on_invalid_integer_bit_size/Nargo.toml
  test_programs/compile_failure/noirc_frontend_tests_errors_on_invalid_integer_bit_size/src/main.nr
  test_programs/compile_failure/noirc_frontend_tests_errors_on_invalid_integer_bit_size/src_hash.txt
  test_programs/compile_failure/noirc_frontend_tests_errors_on_invalid_integer_bit_size/stderr.txt
  test_programs/compile_failure/restricted_bit_sizes/stderr.txt
  tooling/lsp/src/requests/completion.rs
  tooling/lsp/src/requests/completion/builtins.rs
  tooling/lsp/src/with_file.rs
  tooling/nargo_cli/tests/snapshots/expand/compile_success_empty/numeric_generics_explicit/execute__tests__expanded.snap
  tooling/nargo_fmt/src/formatter/expression.rs
  tooling/nargo_fmt/src/formatter/types.rs
Labels: bench-show

#8522 chore(performance): Enable hoisting pure with predicate calls
  compiler/noirc_evaluator/src/ssa/opt/loop_invariant.rs
Labels: bench-show

#8536 fix: add offset to ArrayGet
  compiler/noirc_evaluator/src/acir/arrays.rs
  compiler/noirc_evaluator/src/brillig/brillig_gen/brillig_block.rs
  compiler/noirc_evaluator/src/ssa/checks/check_for_underconstrained_values.rs
  compiler/noirc_evaluator/src/ssa/function_builder/mod.rs
  compiler/noirc_evaluator/src/ssa/interpreter/mod.rs
  compiler/noirc_evaluator/src/ssa/interpreter/tests/instructions.rs
  compiler/noirc_evaluator/src/ssa/ir/dfg/simplify.rs
  compiler/noirc_evaluator/src/ssa/ir/dfg/simplify/call.rs
  compiler/noirc_evaluator/src/ssa/ir/instruction.rs
  compiler/noirc_evaluator/src/ssa/ir/printer.rs
  compiler/noirc_evaluator/src/ssa/opt/basic_conditional.rs
  compiler/noirc_evaluator/src/ssa/opt/brillig_array_gets.rs
  compiler/noirc_evaluator/src/ssa/opt/constant_folding.rs
  compiler/noirc_evaluator/src/ssa/opt/flatten_cfg/value_merger.rs
  compiler/noirc_evaluator/src/ssa/opt/loop_invariant.rs
  compiler/noirc_evaluator/src/ssa/opt/remove_bit_shifts.rs
  compiler/noirc_evaluator/src/ssa/parser/ast.rs
  compiler/noirc_evaluator/src/ssa/parser/into_ssa.rs
  compiler/noirc_evaluator/src/ssa/parser/mod.rs
  compiler/noirc_evaluator/src/ssa/parser/tests.rs
  compiler/noirc_evaluator/src/ssa/parser/token.rs
Labels: bench-show

#8546 fix(licm): Check whether the loop is executed when hoisting with a predicate
  compiler/noirc_evaluator/src/ssa/opt/loop_invariant.rs
  test_programs/execution_success/loop_break_regression_8319/Nargo.toml
  test_programs/execution_success/loop_break_regression_8319/Prover.toml
  test_programs/execution_success/loop_break_regression_8319/src/main.nr
  test_programs/execution_success/while_loop_break_regression_8521/Nargo.toml
  test_programs/execution_success/while_loop_break_regression_8521/Prover.toml
  test_programs/execution_success/while_loop_break_regression_8521/src/main.nr
  test_programs/execution_success/while_loop_break_regression_8521/stdout.txt
  tooling/nargo_cli/tests/snapshots/execution_success/loop_break_regression_8319/execute__tests__force_brillig_false_inliner_-9223372036854775808.snap
  tooling/nargo_cli/tests/snapshots/execution_success/loop_break_regression_8319/execute__tests__force_brillig_false_inliner_0.snap
  tooling/nargo_cli/tests/snapshots/execution_success/loop_break_regression_8319/execute__tests__force_brillig_false_inliner_9223372036854775807.snap
  tooling/nargo_cli/tests/snapshots/execution_success/loop_break_regression_8319/execute__tests__force_brillig_true_inliner_-9223372036854775808.snap
  tooling/nargo_cli/tests/snapshots/execution_success/loop_break_regression_8319/execute__tests__force_brillig_true_inliner_0.snap
  tooling/nargo_cli/tests/snapshots/execution_success/loop_break_regression_8319/execute__tests__force_brillig_true_inliner_9223372036854775807.snap
  tooling/nargo_cli/tests/snapshots/execution_success/loop_invariant_regression/execute__tests__force_brillig_true_inliner_-9223372036854775808.snap
  tooling/nargo_cli/tests/snapshots/execution_success/poseidon_bn254_hash_width_3/execute__tests__force_brillig_true_inliner_-9223372036854775808.snap
  tooling/nargo_cli/tests/snapshots/execution_success/poseidonsponge_x5_254/execute__tests__force_brillig_true_inliner_-9223372036854775808.snap
  tooling/nargo_cli/tests/snapshots/execution_success/poseidonsponge_x5_254/execute__tests__force_brillig_true_inliner_0.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression_5252/execute__tests__force_brillig_true_inliner_-9223372036854775808.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression_5252/execute__tests__force_brillig_true_inliner_0.snap
  tooling/nargo_cli/tests/snapshots/execution_success/while_loop_break_regression_8521/execute__tests__force_brillig_false_inliner_-9223372036854775808.snap
  tooling/nargo_cli/tests/snapshots/execution_success/while_loop_break_regression_8521/execute__tests__force_brillig_false_inliner_0.snap
  tooling/nargo_cli/tests/snapshots/execution_success/while_loop_break_regression_8521/execute__tests__force_brillig_false_inliner_9223372036854775807.snap
  tooling/nargo_cli/tests/snapshots/execution_success/while_loop_break_regression_8521/execute__tests__force_brillig_true_inliner_-9223372036854775808.snap
  tooling/nargo_cli/tests/snapshots/execution_success/while_loop_break_regression_8521/execute__tests__force_brillig_true_inliner_0.snap
  tooling/nargo_cli/tests/snapshots/execution_success/while_loop_break_regression_8521/execute__tests__force_brillig_true_inliner_9223372036854775807.snap
  tooling/nargo_cli/tests/snapshots/expand/execution_success/loop_break_regression_8319/execute__tests__expanded.snap
  tooling/nargo_cli/tests/snapshots/expand/execution_success/while_loop_break_regression_8521/execute__tests__expanded.snap
Labels: bench-show

#8531 chore(fuzz): Call function pointers
  tooling/ast_fuzzer/src/lib.rs
  tooling/ast_fuzzer/src/program/func.rs
  tooling/ast_fuzzer/src/program/mod.rs
  tooling/ast_fuzzer/src/program/rewrite.rs
  tooling/ast_fuzzer/src/program/rewrite/limit.rs
  tooling/ast_fuzzer/src/program/rewrite/mod.rs
  tooling/ast_fuzzer/tests/smoke.rs
Labels: documentation

#8513 chore(ssa): Add weighted edges to call graph, move callers and callees methods to call graph
  compiler/noirc_evaluator/src/ssa/ir/call_graph.rs
  compiler/noirc_evaluator/src/ssa/opt/inlining.rs
  compiler/noirc_evaluator/src/ssa/opt/inlining/inline_info.rs
  compiler/noirc_evaluator/src/ssa/opt/preprocess_fns.rs
Labels: bench-show

#8347 chore(experimental): use larger stack size for parsing
  compiler/noirc_frontend/src/parser/parser/expression.rs
  compiler/noirc_frontend/src/parser/parser/infix.rs
  tooling/nargo/src/lib.rs
Labels: bench-show

#7843 fix!: better error message when cannot infer generic numeric type
  compiler/noirc_frontend/src/hir_def/types.rs
  compiler/noirc_frontend/src/monomorphization/errors.rs
  compiler/noirc_frontend/src/monomorphization/mod.rs
  compiler/noirc_frontend/src/tests.rs
  test_programs/compile_failure/noirc_frontend_tests_cannot_determine_type_of_generic_argument_in_function_call_when_it_is_a_numeric_generic/Nargo.toml
  test_programs/compile_failure/noirc_frontend_tests_cannot_determine_type_of_generic_argument_in_function_call_when_it_is_a_numeric_generic/src/main.nr
  test_programs/compile_failure/noirc_frontend_tests_cannot_determine_type_of_generic_argument_in_function_call_when_it_is_a_numeric_generic/src_hash.txt
  test_programs/noir_test_success/ski_calculus/src/main.nr
  tooling/lsp/src/requests/inlay_hint.rs
  tooling/nargo_cli/tests/snapshots/compile_failure/cannot_deduce_numeric_generic/execute__tests__stderr.snap
  tooling/nargo_cli/tests/snapshots/compile_failure/noirc_frontend_tests_cannot_determine_type_of_generic_argument_in_function_call_when_it_is_a_numeric_generic/execute__tests__stderr.snap
Labels: Blocked

#8633 fix: always use `u32` for indexing arrays in SSA
  compiler/noirc_evaluator/src/ssa/ir/dfg.rs
  compiler/noirc_evaluator/src/ssa/opt/array_set.rs
  compiler/noirc_evaluator/src/ssa/opt/constant_folding.rs
  compiler/noirc_evaluator/src/ssa/opt/flatten_cfg.rs
  compiler/noirc_evaluator/src/ssa/opt/flatten_cfg/value_merger.rs
  compiler/noirc_evaluator/src/ssa/opt/mem2reg.rs
  compiler/noirc_evaluator/src/ssa/opt/rc.rs
  compiler/noirc_evaluator/src/ssa/opt/remove_bit_shifts.rs
  compiler/noirc_evaluator/src/ssa/opt/unrolling.rs
  compiler/noirc_evaluator/src/ssa/parser/tests.rs
Labels: bench-show

#8706 fix(ssa): Validate checked signed add/sub is followed by a truncate
  compiler/noirc_evaluator/src/brillig/brillig_gen/brillig_slice_ops.rs
  compiler/noirc_evaluator/src/ssa/function_builder/mod.rs
  compiler/noirc_evaluator/src/ssa/interpreter/tests/instructions.rs
  compiler/noirc_evaluator/src/ssa/ir/function.rs
  compiler/noirc_evaluator/src/ssa/ir/post_order.rs
  compiler/noirc_evaluator/src/ssa/opt/checked_to_unchecked.rs
  compiler/noirc_evaluator/src/ssa/opt/constant_folding.rs
  compiler/noirc_evaluator/src/ssa/opt/loop_invariant.rs
  compiler/noirc_evaluator/src/ssa/opt/simplify_cfg.rs
Labels: bench-show
