Repository noir-lang/noir, pull requests merged in 2025-04, with the labels that each got.

#7888 chore: update bb commands in beta2 and beta3 versioned docs
  docs/versioned_docs/version-v1.0.0-beta.2/getting_started/quick_start.md
  docs/versioned_docs/version-v1.0.0-beta.2/how_to/how-to-solidity-verifier.mdx
  docs/versioned_docs/version-v1.0.0-beta.3/getting_started/quick_start.md
  docs/versioned_docs/version-v1.0.0-beta.3/how_to/how-to-solidity-verifier.mdx
Labels: documentation

#7891 feat: generic trait bounds
  compiler/noirc_frontend/src/ast/expression.rs
  compiler/noirc_frontend/src/ast/traits.rs
  compiler/noirc_frontend/src/ast/visitor.rs
  compiler/noirc_frontend/src/elaborator/mod.rs
  compiler/noirc_frontend/src/elaborator/traits.rs
  compiler/noirc_frontend/src/hir/def_collector/dc_mod.rs
  compiler/noirc_frontend/src/parser/errors.rs
  compiler/noirc_frontend/src/parser/parser/enums.rs
  compiler/noirc_frontend/src/parser/parser/function.rs
  compiler/noirc_frontend/src/parser/parser/generics.rs
  compiler/noirc_frontend/src/parser/parser/impls.rs
  compiler/noirc_frontend/src/parser/parser/structs.rs
  compiler/noirc_frontend/src/parser/parser/traits.rs
  compiler/noirc_frontend/src/parser/parser/type_alias.rs
  docs/docs/noir/concepts/traits.md
  test_programs/compile_success_empty/generic_trait_bounds/Nargo.toml
  test_programs/compile_success_empty/generic_trait_bounds/src/main.nr
  tooling/lsp/src/requests/completion.rs
  tooling/lsp/src/with_file.rs
  tooling/nargo_fmt/src/formatter/function.rs
  tooling/nargo_fmt/src/formatter/generics.rs
Labels: documentation

#7650 chore!: remove poseidon from stdlib
  docs/docs/noir/standard_library/containers/hashmap.md
  docs/docs/noir/standard_library/cryptographic_primitives/hashes.mdx
  noir_stdlib/src/hash/mod.nr
  noir_stdlib/src/hash/poseidon/bn254.nr
  noir_stdlib/src/hash/poseidon/bn254/consts.nr
  noir_stdlib/src/hash/poseidon/bn254/perm.nr
  noir_stdlib/src/hash/poseidon/mod.nr
  noir_stdlib/src/hash/poseidon2.nr
  test_programs/benchmarks/bench_eddsa_poseidon/Nargo.toml
  test_programs/benchmarks/bench_eddsa_poseidon/src/main.nr
  test_programs/benchmarks/bench_poseidon2_hash/Nargo.toml
  test_programs/benchmarks/bench_poseidon2_hash/src/main.nr
  test_programs/benchmarks/bench_poseidon2_hash_100/Nargo.toml
  test_programs/benchmarks/bench_poseidon2_hash_100/src/main.nr
  test_programs/benchmarks/bench_poseidon2_hash_30/Nargo.toml
  test_programs/benchmarks/bench_poseidon2_hash_30/src/main.nr
  test_programs/benchmarks/bench_poseidon_hash/Nargo.toml
  test_programs/benchmarks/bench_poseidon_hash/bench_poseidon_hash_100/Nargo.toml
  test_programs/benchmarks/bench_poseidon_hash/bench_poseidon_hash_100/Prover.toml
  test_programs/benchmarks/bench_poseidon_hash/bench_poseidon_hash_100/src/main.nr
  test_programs/benchmarks/bench_poseidon_hash/bench_poseidon_hash_30/Nargo.toml
  test_programs/benchmarks/bench_poseidon_hash/bench_poseidon_hash_30/Prover.toml
  test_programs/benchmarks/bench_poseidon_hash/bench_poseidon_hash_30/src/main.nr
  test_programs/benchmarks/bench_poseidon_hash/src/main.nr
  test_programs/benchmarks/bench_poseidon_hash_100/Nargo.toml
  test_programs/benchmarks/bench_poseidon_hash_100/src/main.nr
  test_programs/benchmarks/bench_poseidon_hash_30/Nargo.toml
  test_programs/benchmarks/bench_poseidon_hash_30/src/main.nr
  test_programs/compile_success_empty/poseidon2_simplification/Nargo.toml
  test_programs/compile_success_empty/poseidon2_simplification/src/main.nr
  test_programs/compile_success_empty/trait_method_mut_self/Nargo.toml
  test_programs/compile_success_empty/trait_method_mut_self/Prover.toml
  test_programs/compile_success_empty/trait_method_mut_self/src/main.nr
  test_programs/compile_success_empty/turbofish_call_func_diff_types/Nargo.toml
  test_programs/compile_success_empty/turbofish_call_func_diff_types/src/main.nr
  test_programs/execution_failure/hashmap_load_factor/Nargo.toml
  test_programs/execution_failure/hashmap_load_factor/src/main.nr
  test_programs/execution_success/fold_2_to_17/Nargo.toml
  test_programs/execution_success/fold_2_to_17/src/main.nr
  test_programs/execution_success/poseidon2/Nargo.toml
  test_programs/execution_success/poseidon2/Prover.toml
  test_programs/execution_success/poseidon2/src/main.nr
  test_programs/execution_success/poseidon_bn254_hash/Nargo.toml
  test_programs/execution_success/poseidon_bn254_hash/Prover.toml
  test_programs/execution_success/poseidon_bn254_hash/src/main.nr
  test_programs/execution_success/poseidon_bn254_hash_width_3/Nargo.toml
  test_programs/execution_success/poseidon_bn254_hash_width_3/src/main.nr
  test_programs/execution_success/poseidonsponge_x5_254/Nargo.toml
  test_programs/execution_success/poseidonsponge_x5_254/src/main.nr
  test_programs/execution_success/regression_5252/Nargo.toml
  test_programs/execution_success/regression_5252/src/main.nr
  tooling/nargo_cli/tests/stdlib-props.rs
Labels: stdlib, documentation

#7475 chore: Release Noir(1.0.0-beta.4)
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  acvm-repo/acir/Cargo.toml
  acvm-repo/acir_field/Cargo.toml
  acvm-repo/acvm/Cargo.toml
  acvm-repo/acvm_js/Cargo.toml
  acvm-repo/acvm_js/package.json
  acvm-repo/blackbox_solver/Cargo.toml
  acvm-repo/bn254_blackbox_solver/Cargo.toml
  acvm-repo/brillig/Cargo.toml
  acvm-repo/brillig_vm/Cargo.toml
  compiler/wasm/package.json
  tooling/noir_codegen/package.json
  tooling/noir_js/package.json
  tooling/noir_js_types/package.json
  tooling/noirc_abi_wasm/package.json
Labels: autorelease: pending, documentation

#7969 chore(docs): Remove outdated BigInt library reference
  docs/docs/noir/concepts/data_types/index.md
  docs/versioned_docs/version-v0.36.0/noir/concepts/data_types/index.md
  docs/versioned_docs/version-v1.0.0-beta.0/noir/concepts/data_types/index.md
  docs/versioned_docs/version-v1.0.0-beta.1/noir/concepts/data_types/index.md
  docs/versioned_docs/version-v1.0.0-beta.2/noir/concepts/data_types/index.md
  docs/versioned_docs/version-v1.0.0-beta.3/noir/concepts/data_types/index.md
Labels: documentation

#7971 chore: fix documentation nits
  docs/docs/tooling/profiler.md
  docs/versioned_docs/version-v1.0.0-beta.0/getting_started/setting_up_shell_completions.md
  docs/versioned_docs/version-v1.0.0-beta.1/getting_started/setting_up_shell_completions.md
  docs/versioned_docs/version-v1.0.0-beta.2/getting_started/setting_up_shell_completions.md
  docs/versioned_docs/version-v1.0.0-beta.3/getting_started/setting_up_shell_completions.md
Labels: documentation

#7524 chore(docs): Touch up profiler docs
  cspell.json
  docs/docs/tooling/profiler.md
  docs/docs/tooling/security.md
  docs/static/img/tooling/profiler/gates-flamegraph-optimized-2048.png
  docs/static/img/tooling/profiler/gates-flamegraph-optimized.png
  docs/versioned_docs/version-1.0.0-beta.4/tooling/profiler.md
  docs/versioned_docs/version-v1.0.0-beta.3/tooling/profiler.md
Labels: documentation, profiler

#8014 chore: bump a few versions in yarn.lock
  acvm-repo/acvm_js/package.json
  compiler/integration-tests/package.json
  compiler/wasm/package.json
  docs/package.json
  package.json
  tooling/noir_codegen/package.json
  tooling/noir_js/package.json
  tooling/noir_js_types/package.json
  tooling/noirc_abi_wasm/package.json
  yarn.lock
Labels: documentation

#8033 fix(docs): fix proof splitting script in solidity guide
  docs/docs/how_to/how-to-solidity-verifier.mdx
  docs/versioned_docs/version-1.0.0-beta.4/how_to/how-to-solidity-verifier.mdx
  docs/versioned_docs/version-v1.0.0-beta.2/how_to/how-to-solidity-verifier.mdx
  docs/versioned_docs/version-v1.0.0-beta.3/how_to/how-to-solidity-verifier.mdx
Labels: documentation

#8049 feat: skip inverting field elements with values +-1 in ACVM
  acvm-repo/acvm/src/pwg/arithmetic.rs
Labels: bench-show

#8017 chore(ssa): Additional unrolling and mem2reg passes
  EXTERNAL_NOIR_LIBRARIES.yml
  compiler/noirc_evaluator/src/ssa.rs
  tooling/nargo_cli/tests/snapshots/execution_success/array_to_slice/execute__tests__force_brillig_true_inliner_9223372036854775807.snap
  tooling/nargo_cli/tests/snapshots/execution_success/brillig_rc_regression_6123/execute__tests__force_brillig_false_inliner_0.snap
  tooling/nargo_cli/tests/snapshots/execution_success/brillig_rc_regression_6123/execute__tests__force_brillig_false_inliner_9223372036854775807.snap
  tooling/nargo_cli/tests/snapshots/execution_success/brillig_rc_regression_6123/execute__tests__force_brillig_true_inliner_0.snap
  tooling/nargo_cli/tests/snapshots/execution_success/brillig_rc_regression_6123/execute__tests__force_brillig_true_inliner_9223372036854775807.snap
  tooling/nargo_cli/tests/snapshots/execution_success/closures_mut_ref/execute__tests__force_brillig_true_inliner_0.snap
  tooling/nargo_cli/tests/snapshots/execution_success/derive/execute__tests__force_brillig_true_inliner_9223372036854775807.snap
  tooling/nargo_cli/tests/snapshots/execution_success/hashmap/execute__tests__force_brillig_true_inliner_0.snap
  tooling/nargo_cli/tests/snapshots/execution_success/hashmap/execute__tests__force_brillig_true_inliner_9223372036854775807.snap
  tooling/nargo_cli/tests/snapshots/execution_success/missing_closure_env/execute__tests__force_brillig_true_inliner_0.snap
  tooling/nargo_cli/tests/snapshots/execution_success/references/execute__tests__force_brillig_true_inliner_0.snap
  tooling/nargo_cli/tests/snapshots/execution_success/references/execute__tests__force_brillig_true_inliner_9223372036854775807.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression/execute__tests__force_brillig_false_inliner_-9223372036854775808.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression/execute__tests__force_brillig_false_inliner_0.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression/execute__tests__force_brillig_false_inliner_9223372036854775807.snap
  tooling/nargo_cli/tests/snapshots/execution_success/side_effects_constrain_array/execute__tests__force_brillig_true_inliner_9223372036854775807.snap
  tooling/nargo_cli/tests/snapshots/execution_success/slice_regex/execute__tests__force_brillig_true_inliner_-9223372036854775808.snap
  tooling/nargo_cli/tests/snapshots/execution_success/slice_regex/execute__tests__force_brillig_true_inliner_0.snap
  tooling/nargo_cli/tests/snapshots/execution_success/slice_regex/execute__tests__force_brillig_true_inliner_9223372036854775807.snap
  tooling/nargo_cli/tests/snapshots/execution_success/slices/execute__tests__force_brillig_true_inliner_9223372036854775807.snap
  tooling/nargo_cli/tests/snapshots/execution_success/tuples/execute__tests__force_brillig_true_inliner_-9223372036854775808.snap
  tooling/nargo_cli/tests/snapshots/execution_success/tuples/execute__tests__force_brillig_true_inliner_0.snap
  tooling/nargo_cli/tests/snapshots/execution_success/tuples/execute__tests__force_brillig_true_inliner_9223372036854775807.snap
  tooling/nargo_cli/tests/snapshots/execution_success/uhashmap/execute__tests__force_brillig_false_inliner_9223372036854775807.snap
  tooling/nargo_cli/tests/snapshots/execution_success/uhashmap/execute__tests__force_brillig_true_inliner_9223372036854775807.snap
Labels: bench-show

#7992 chore(docs): Add architecture docs
  cspell.json
  docs/compiler/architecture.md
Labels: documentation

#8050 chore(docs): update bb commands to match 0.84.0
  docs/docs/getting_started/quick_start.md
  docs/docs/how_to/how-to-solidity-verifier.mdx
  docs/versioned_docs/version-1.0.0-beta.4/getting_started/quick_start.md
  docs/versioned_docs/version-1.0.0-beta.4/how_to/how-to-solidity-verifier.mdx
Labels: documentation

#8102 chore(experimental): Function::simple_optimization for SSA optimizations
  compiler/noirc_evaluator/src/ssa/opt/as_slice_length.rs
  compiler/noirc_evaluator/src/ssa/opt/brillig_array_gets.rs
  compiler/noirc_evaluator/src/ssa/opt/check_u128_mul_overflow.rs
  compiler/noirc_evaluator/src/ssa/opt/make_constrain_not_equal.rs
  compiler/noirc_evaluator/src/ssa/opt/mod.rs
  compiler/noirc_evaluator/src/ssa/opt/remove_bit_shifts.rs
  compiler/noirc_evaluator/src/ssa/opt/remove_enable_side_effects.rs
  compiler/noirc_evaluator/src/ssa/opt/remove_if_else.rs
  compiler/noirc_evaluator/src/ssa/opt/remove_truncate_after_range_check.rs
  compiler/noirc_evaluator/src/ssa/opt/simple_optimization.rs
Labels: bench-show

#8142 chore: remove try_merge_only_changed_indices
  compiler/noirc_evaluator/src/ssa/ir/dfg/simplify/call.rs
  compiler/noirc_evaluator/src/ssa/opt/flatten_cfg/value_merger.rs
  compiler/noirc_evaluator/src/ssa/opt/remove_if_else.rs
  tooling/nargo_cli/tests/snapshots/execution_success/array_dynamic/execute__tests__force_brillig_false_inliner_-9223372036854775808.snap
  tooling/nargo_cli/tests/snapshots/execution_success/array_dynamic/execute__tests__force_brillig_false_inliner_0.snap
  tooling/nargo_cli/tests/snapshots/execution_success/array_dynamic/execute__tests__force_brillig_false_inliner_9223372036854775807.snap
  tooling/nargo_cli/tests/snapshots/execution_success/array_if_cond_simple/execute__tests__force_brillig_false_inliner_-9223372036854775808.snap
  tooling/nargo_cli/tests/snapshots/execution_success/array_if_cond_simple/execute__tests__force_brillig_false_inliner_0.snap
  tooling/nargo_cli/tests/snapshots/execution_success/array_if_cond_simple/execute__tests__force_brillig_false_inliner_9223372036854775807.snap
  tooling/nargo_cli/tests/snapshots/execution_success/conditional_1/execute__tests__force_brillig_false_inliner_-9223372036854775808.snap
  tooling/nargo_cli/tests/snapshots/execution_success/conditional_1/execute__tests__force_brillig_false_inliner_0.snap
  tooling/nargo_cli/tests/snapshots/execution_success/conditional_1/execute__tests__force_brillig_false_inliner_9223372036854775807.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression_5252/execute__tests__force_brillig_false_inliner_-9223372036854775808.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression_5252/execute__tests__force_brillig_false_inliner_0.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression_5252/execute__tests__force_brillig_false_inliner_9223372036854775807.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression_mem_op_predicate/execute__tests__force_brillig_false_inliner_-9223372036854775808.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression_mem_op_predicate/execute__tests__force_brillig_false_inliner_0.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression_mem_op_predicate/execute__tests__force_brillig_false_inliner_9223372036854775807.snap
  tooling/nargo_cli/tests/snapshots/execution_success/slice_dynamic_index/execute__tests__force_brillig_false_inliner_-9223372036854775808.snap
  tooling/nargo_cli/tests/snapshots/execution_success/slice_dynamic_index/execute__tests__force_brillig_false_inliner_0.snap
  tooling/nargo_cli/tests/snapshots/execution_success/slice_dynamic_index/execute__tests__force_brillig_false_inliner_9223372036854775807.snap
Labels: bench-show

#8158 chore(docs): patch web app tutorial in 1.0.0-beta3 versioned docs
  docs/versioned_docs/version-v1.0.0-beta.3/tutorials/noirjs_app.md
Labels: documentation

#8160 chore(docs): minor updates in solidity doc
  docs/docs/how_to/how-to-solidity-verifier.mdx
  docs/versioned_docs/version-1.0.0-beta.4/how_to/how-to-solidity-verifier.mdx
  docs/versioned_docs/version-v1.0.0-beta.3/how_to/how-to-solidity-verifier.mdx
Labels: documentation

#8118 feat(greybox_fuzzer): Should_fail and should_fail_with
  compiler/noirc_frontend/src/hir/def_map/mod.rs
  compiler/noirc_frontend/src/lexer/errors.rs
  compiler/noirc_frontend/src/lexer/token.rs
  compiler/noirc_frontend/src/parser/parser/attributes.rs
  docs/docs/tooling/fuzzing.md
  test_programs/fuzzing_failure/partial_witness_should_fail/Nargo.toml
  test_programs/fuzzing_failure/partial_witness_should_fail/src/main.nr
  test_programs/fuzzing_failure/should_fail/Nargo.toml
  test_programs/fuzzing_failure/should_fail/src/main.nr
  test_programs/fuzzing_failure/should_fail_with/Nargo.toml
  test_programs/fuzzing_failure/should_fail_with/src/main.nr
  tooling/greybox_fuzzer/src/coverage.rs
  tooling/greybox_fuzzer/src/lib.rs
  tooling/lsp/src/requests/completion/builtins.rs
  tooling/nargo/src/ops/execute.rs
  tooling/nargo/src/ops/fuzz.rs
  tooling/nargo_fmt/src/formatter/attribute.rs
Labels: documentation

#8193 fix: Detect ABI change of fuzzing harnesses
  tooling/greybox_fuzzer/src/lib.rs
  tooling/greybox_fuzzer/src/mutation/dictionary.rs
  tooling/greybox_fuzzer/src/mutation/mod.rs
Labels: security

#8188 feat: optimize `checked_to_unchecked` to take into account multiplications
  compiler/noirc_evaluator/src/ssa/opt/checked_to_unchecked.rs
Labels: bench-show

#8190 feat: avoid overflow check when subtracting from a value that is the maximum for its bitsize
  compiler/noirc_evaluator/src/ssa/opt/checked_to_unchecked.rs
Labels: bench-show

#8048 chore(test): Add smoke test for AST generation
  tooling/ast_fuzzer/src/program/func.rs
  tooling/ast_fuzzer/tests/smoke.rs
Labels: Blocked

#8215 fix: validate numeric types when passing them to a FunctionBuilder
  compiler/noirc_evaluator/src/ssa/function_builder/mod.rs
  compiler/noirc_evaluator/src/ssa/parser/tests.rs
  tooling/ast_fuzzer/src/program/mod.rs
  tooling/ast_fuzzer/src/program/types.rs
Labels: bench-show

#8256 chore: refactor array handling in ACIRgen
  compiler/noirc_evaluator/src/acir/arrays.rs
  compiler/noirc_evaluator/src/acir/mod.rs
Labels: bench-show

#8257 feat: omit element size array for more array types
  compiler/noirc_evaluator/src/acir/arrays.rs
  compiler/noirc_evaluator/src/acir/mod.rs
  tooling/nargo_cli/tests/snapshots/execution_success/databus_composite_calldata/execute__tests__force_brillig_false_inliner_-9223372036854775808.snap
  tooling/nargo_cli/tests/snapshots/execution_success/databus_composite_calldata/execute__tests__force_brillig_false_inliner_0.snap
  tooling/nargo_cli/tests/snapshots/execution_success/databus_composite_calldata/execute__tests__force_brillig_false_inliner_9223372036854775807.snap
  tooling/nargo_cli/tests/snapshots/execution_success/nested_dyn_array_regression_5782/execute__tests__force_brillig_false_inliner_-9223372036854775808.snap
  tooling/nargo_cli/tests/snapshots/execution_success/nested_dyn_array_regression_5782/execute__tests__force_brillig_false_inliner_0.snap
  tooling/nargo_cli/tests/snapshots/execution_success/nested_dyn_array_regression_5782/execute__tests__force_brillig_false_inliner_9223372036854775807.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression_7612/execute__tests__force_brillig_false_inliner_-9223372036854775808.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression_7612/execute__tests__force_brillig_false_inliner_0.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression_7612/execute__tests__force_brillig_false_inliner_9223372036854775807.snap
Labels: bench-show

#8292 chore: redo typo PR by ciaranightingale
  docs/docs/noir/modules_packages_crates/modules.md
Labels: documentation
