Repository noir-lang/noir, pull requests merged in 2025-03, with the labels that each got.

#7404 chore(ssa): Turn the Brillig constraints check back on by default
  compiler/noirc_driver/src/lib.rs
  compiler/noirc_evaluator/src/ssa.rs
  compiler/noirc_evaluator/src/ssa/checks/check_for_underconstrained_values.rs
  compiler/noirc_evaluator/src/ssa/opt/hint.rs
  docs/docs/tooling/security.md
  tooling/nargo_cli/build.rs
Labels: documentation, bench-show

#7582 chore!: remove merkle module from stdlib
  compiler/noirc_frontend/src/node_interner.rs
  compiler/noirc_frontend/src/resolve_locations.rs
  docs/docs/how_to/merkle-proof.mdx
  docs/docs/noir/standard_library/merkle_trees.md
  noir_stdlib/src/lib.nr
  noir_stdlib/src/merkle.nr
  test_programs/execution_success/merkle_insert/src/main.nr
  test_programs/execution_success/simple_shield/src/main.nr
  tooling/lsp/src/requests/code_action/import_trait.rs
  tooling/lsp/src/requests/completion.rs
  tooling/lsp/src/requests/completion/tests.rs
  tooling/lsp/src/requests/hover/from_visitor.rs
  tooling/lsp/src/requests/inlay_hint.rs
  tooling/lsp/src/requests/signature_help.rs
Labels: documentation

#7199 feat: array concat method
  cspell.json
  docs/docs/noir/concepts/data_types/arrays.md
  noir_stdlib/src/array/mod.nr
Labels: documentation

#7623 chore: update docs to reflect u128 type
  docs/docs/noir/concepts/data_types/integers.md
Labels: documentation

#7614 chore: Rename `StructDefinition` to `TypeDefinition`
  compiler/noirc_frontend/src/elaborator/comptime.rs
  compiler/noirc_frontend/src/hir/comptime/display.rs
  compiler/noirc_frontend/src/hir/comptime/interpreter/builtin.rs
  compiler/noirc_frontend/src/hir/comptime/interpreter/builtin/builtin_helpers.rs
  compiler/noirc_frontend/src/hir/comptime/value.rs
  compiler/noirc_frontend/src/hir_def/types.rs
  compiler/noirc_frontend/src/lexer/token.rs
  compiler/noirc_frontend/src/parser/errors.rs
  compiler/noirc_frontend/src/parser/parser/types.rs
  compiler/noirc_frontend/src/tests/metaprogramming.rs
  compiler/noirc_frontend/src/tests/visibility.rs
  docs/docs/noir/concepts/comptime.md
  docs/docs/noir/standard_library/meta/index.md
  docs/docs/noir/standard_library/meta/struct_def.md
  docs/docs/noir/standard_library/meta/typ.md
  noir_stdlib/src/cmp.nr
  noir_stdlib/src/default.nr
  noir_stdlib/src/hash/mod.nr
  noir_stdlib/src/meta/mod.nr
  noir_stdlib/src/meta/module.nr
  noir_stdlib/src/meta/typ.nr
  noir_stdlib/src/meta/type_def.nr
  test_programs/compile_failure/type_definition_annotation/src/main.nr
  test_programs/compile_success_empty/attribute_args/src/main.nr
  test_programs/compile_success_empty/attribute_order/src/main.nr
  test_programs/compile_success_empty/attributes_struct/src/main.nr
  test_programs/compile_success_empty/comptime_struct_definition/src/main.nr
  test_programs/compile_success_empty/comptime_type/src/main.nr
  test_programs/compile_success_empty/derive_impl/src/main.nr
  test_programs/compile_success_empty/regression_5671/src/main.nr
  test_programs/compile_success_empty/unquote_multiple_items_from_annotation/src/main.nr
  test_programs/compile_success_empty/use_callers_scope/src/main.nr
  test_programs/execution_success/derive/src/main.nr
  tooling/lsp/src/requests/completion/builtins.rs
  tooling/lsp/src/requests/completion/completion_items.rs
  tooling/nargo_cli/src/cli/compile_cmd.rs
Labels: documentation

#7656 chore: address recurring typo in docs
  cspell.json
  docs/docs/explainers/explainer-writing-noir.md
  docs/versioned_docs/version-v0.36.0/explainers/explainer-writing-noir.md
  docs/versioned_docs/version-v1.0.0-beta.0/explainers/explainer-writing-noir.md
  docs/versioned_docs/version-v1.0.0-beta.1/explainers/explainer-writing-noir.md
  docs/versioned_docs/version-v1.0.0-beta.2/explainers/explainer-writing-noir.md
  docs/versioned_docs/version-v1.0.0-beta.3/explainers/explainer-writing-noir.md
Labels: documentation

#7672 chore: bump deps
  acvm-repo/acvm_js/package.json
  compiler/integration-tests/package.json
  compiler/wasm/package.json
  docs/package.json
  package.json
  tooling/noir_codegen/package.json
  tooling/noir_js/package.json
  tooling/noir_js_types/package.json
  tooling/noirc_abi_wasm/package.json
  yarn.lock
Labels: documentation

#7673 chore: update docusaurus
  docs/docusaurus.config.ts
  docs/package.json
  yarn.lock
Labels: documentation

#7668 chore: bump node to v22.18.3
  .github/actions/setup/action.yml
  .github/workflows/release.yml
  .nvmrc
  docs/package.json
Labels: documentation

#7682 chore: add trailing slash to link on docs homepage
  docs/src/pages/index.jsx
Labels: documentation

#7684 chore(docs): Minor fixes on local documentation development workflows
  docs/README.md
  docs/package.json
Labels: documentation

#7685 chore(docs): Extend stable documentation versions to build to cover multiple `beta.n` releases
  docs/scripts/setStable.ts
Labels: documentation

#7699 chore(frontend): Regression test for creating a mutable reference to an array element
  compiler/noirc_frontend/src/tests.rs
  docs/docs/noir/concepts/data_types/references.md
  docs/docs/noir/concepts/mutability.md
Labels: documentation

#7702 chore(docs): Document BlackBoxFuncCall enum
  acvm-repo/acir/README.md
  acvm-repo/acir/src/circuit/black_box_functions.rs
  acvm-repo/acir/src/circuit/opcodes/black_box_function_call.rs
  cspell.json
  noir_stdlib/src/ecdsa_secp256k1.nr
Labels: documentation

#7720 chore: update docusaurus config to correct trailing slash issue
  docs/docusaurus.config.ts
Labels: documentation

#7649 chore(docs): Landing page jargonless intro
  docs/src/pages/index.jsx
Labels: documentation

#7705 chore: add `mapi`/`for_eachi` functions
  cspell.json
  docs/docs/noir/concepts/data_types/arrays.md
  docs/docs/noir/concepts/data_types/slices.mdx
  docs/docs/noir/standard_library/containers/boundedvec.md
  noir_stdlib/src/array/mod.nr
  noir_stdlib/src/collections/bounded_vec.nr
  noir_stdlib/src/slice.nr
Labels: documentation

#7736 chore: push users towards nargo in tutorial
  docs/docs/tutorials/noirjs_app.md
Labels: documentation

#7756 chore: remove bun from docs in favour of yarn
  docs/docs/tutorials/noirjs_app.md
Labels: documentation

#7700 chore: Allow control dependent LICM in ACIR
  compiler/noirc_evaluator/src/ssa/opt/loop_invariant.rs
Labels: bench-show

#7660 feat(ssa): Basic control dependent LICM
  compiler/noirc_evaluator/src/ssa/ir/cfg.rs
  compiler/noirc_evaluator/src/ssa/ir/dom.rs
  compiler/noirc_evaluator/src/ssa/ir/instruction.rs
  compiler/noirc_evaluator/src/ssa/opt/loop_invariant.rs
  compiler/noirc_evaluator/src/ssa/opt/unrolling.rs
  cspell.json
Labels: bench-show

#7808 chore(docs): Add docs dev prereqs to README
  docs/README.md
Labels: documentation

#7819 chore: Added fuzzer usage docs to the website
  cspell.json
  docs/docs/tooling/fuzzing.md
  docs/static/img/tooling/fuzzing/basic-fuzzer-example.png
  docs/static/img/tooling/fuzzing/only-fail-with-example.png
  docs/static/img/tooling/fuzzing/oracle-fuzzing.png
Labels: documentation
