Repository noir-lang/noir, pull requests merged in 2025-06, with the labels that each got.

#8771 chore: bump some JS packages
  acvm-repo/acvm_js/package.json
  compiler/integration-tests/package.json
  compiler/wasm/package.json
  docs/package.json
  package.json
  tooling/noir_codegen/package.json
  tooling/noir_js/package.json
  tooling/noir_js_types/package.json
  tooling/noirc_abi_wasm/package.json
  yarn.lock
Labels: documentation

#8753 chore(SSA): restrict `shr` and `shl` right-hand side to u8
  compiler/noirc_evaluator/src/ssa/ir/dfg.rs
  compiler/noirc_evaluator/src/ssa/opt/constant_folding.rs
  compiler/noirc_evaluator/src/ssa/parser/tests.rs
Labels: bench-show

#8792 feat: use `asm` feature flag in arkworks
  Cargo.toml
Labels: bench-show

#8743 fix(mem2reg): Keep last stores used in MakeArray
  compiler/noirc_evaluator/src/ssa/opt/mem2reg.rs
  test_programs/execution_success/regression_8739/Nargo.toml
  test_programs/execution_success/regression_8739/src/main.nr
  test_programs/execution_success/regression_8755/Nargo.toml
  test_programs/execution_success/regression_8755/src/main.nr
  test_programs/execution_success/regression_8761/Nargo.toml
  test_programs/execution_success/regression_8761/src/main.nr
  tooling/nargo_cli/tests/snapshots/execution_success/regression_8739/execute__tests__expanded.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression_8739/execute__tests__force_brillig_false_inliner_-9223372036854775808.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression_8739/execute__tests__force_brillig_false_inliner_0.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression_8739/execute__tests__force_brillig_false_inliner_9223372036854775807.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression_8739/execute__tests__force_brillig_true_inliner_-9223372036854775808.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression_8739/execute__tests__force_brillig_true_inliner_0.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression_8739/execute__tests__force_brillig_true_inliner_9223372036854775807.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression_8739/execute__tests__stdout.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression_8755/execute__tests__expanded.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression_8755/execute__tests__force_brillig_false_inliner_-9223372036854775808.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression_8755/execute__tests__force_brillig_false_inliner_0.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression_8755/execute__tests__force_brillig_false_inliner_9223372036854775807.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression_8755/execute__tests__force_brillig_true_inliner_-9223372036854775808.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression_8755/execute__tests__force_brillig_true_inliner_0.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression_8755/execute__tests__force_brillig_true_inliner_9223372036854775807.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression_8755/execute__tests__stdout.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression_8761/execute__tests__expanded.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression_8761/execute__tests__force_brillig_false_inliner_-9223372036854775808.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression_8761/execute__tests__force_brillig_false_inliner_0.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression_8761/execute__tests__force_brillig_false_inliner_9223372036854775807.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression_8761/execute__tests__force_brillig_true_inliner_-9223372036854775808.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression_8761/execute__tests__force_brillig_true_inliner_0.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression_8761/execute__tests__force_brillig_true_inliner_9223372036854775807.snap
  tooling/nargo_cli/tests/snapshots/execution_success/regression_8761/execute__tests__stdout.snap
Labels: bench-show

#8783 fix: Thread errors through remove_if_else instead of panicing when the value merger finds reference values
  compiler/noirc_evaluator/src/errors.rs
  compiler/noirc_evaluator/src/ssa.rs
  compiler/noirc_evaluator/src/ssa/ir/dfg/simplify/call.rs
  compiler/noirc_evaluator/src/ssa/opt/flatten_cfg.rs
  compiler/noirc_evaluator/src/ssa/opt/flatten_cfg/value_merger.rs
  compiler/noirc_evaluator/src/ssa/opt/remove_if_else.rs
  compiler/noirc_evaluator/src/ssa/opt/simple_optimization.rs
Labels: bench-show

#8824 chore(docs): Add experimental warning in Debugger docs
  docs/docs/how_to/debugger/debugging_with_the_repl.mdx
  docs/docs/how_to/debugger/debugging_with_vs_code.mdx
  docs/docs/reference/debugger/debugger_known_limitations.mdx
  docs/docs/reference/debugger/debugger_repl.mdx
  docs/docs/reference/debugger/debugger_vscode.mdx
  docs/docs/tooling/debugger.mdx
Labels: documentation, debugger

#8853 chore(docs): Update noirjs app page to use to beta.6
  docs/docs/tutorials/noirjs_app.md
  docs/versioned_docs/version-v1.0.0-beta.6/tutorials/noirjs_app.md
Labels: documentation

#8854 chore(docs): Add links to awesome-noir in sidebar
  docs/sidebars.js
  docs/versioned_sidebars/version-v1.0.0-beta.6-sidebars.json
Labels: documentation

#8610 chore(fuzz): Enable SSA Interpreter fuzzing on all passes
  tooling/ast_fuzzer/fuzz/src/targets/pass_vs_prev.rs
Labels: Blocked

#8875 chore(ssa): Simplify truncate when the bit size we are truncating to is greater than the value's max bit size
  compiler/noirc_evaluator/src/ssa/ir/dfg/simplify.rs
Labels: bench-show

#8888 chore: Ban dynamic array indices with reference elements
  compiler/noirc_evaluator/src/errors.rs
  compiler/noirc_evaluator/src/ssa.rs
  compiler/noirc_evaluator/src/ssa/validation/dynamic_array_indices.rs
  compiler/noirc_evaluator/src/ssa/validation/mod.rs
  docs/docs/noir/concepts/data_types/arrays.md
Labels: documentation

#8872 chore(fuzz): Increase the number of deterministic test cases
  tooling/ast_fuzzer/fuzz/src/targets/acir_vs_brillig.rs
  tooling/ast_fuzzer/fuzz/src/targets/comptime_vs_brillig.rs
  tooling/ast_fuzzer/fuzz/src/targets/pass_vs_prev.rs
Labels: Blocked

#8931 fix(fuzz): Consider values returned from Brillig to ACIR as dynamic
  docs/docs/noir/concepts/data_types/arrays.md
  tooling/ast_fuzzer/src/program/func.rs
Labels: documentation

#8697 fix(defunctionalize): Create a placeholder function for first-class function calls with no variants
  compiler/noirc_evaluator/src/ssa/opt/defunctionalize.rs
  test_programs/execution_failure/lambda_from_empty_array/Nargo.toml
  test_programs/execution_failure/lambda_from_empty_array/src/main.nr
  test_programs/execution_failure/lambda_from_empty_array_dyn_index/Nargo.toml
  test_programs/execution_failure/lambda_from_empty_array_dyn_index/Prover.toml
  test_programs/execution_failure/lambda_from_empty_array_dyn_index/src/main.nr
  test_programs/execution_success/lambda_from_array/src/main.nr
  tooling/nargo_cli/tests/snapshots/execution_success/lambda_from_array/execute__tests__force_brillig_false_inliner_-9223372036854775808.snap
  tooling/nargo_cli/tests/snapshots/execution_success/lambda_from_array/execute__tests__force_brillig_false_inliner_0.snap
  tooling/nargo_cli/tests/snapshots/execution_success/lambda_from_array/execute__tests__force_brillig_false_inliner_9223372036854775807.snap
  tooling/nargo_cli/tests/snapshots/execution_success/lambda_from_array/execute__tests__force_brillig_true_inliner_-9223372036854775808.snap
  tooling/nargo_cli/tests/snapshots/execution_success/lambda_from_array/execute__tests__force_brillig_true_inliner_0.snap
  tooling/nargo_cli/tests/snapshots/execution_success/lambda_from_array/execute__tests__force_brillig_true_inliner_9223372036854775807.snap
Labels: bench-show
